@charset "UTF-8";
/**
 * Theme Name: Cunningham Theme
 * Author: 502 Media Group
 * Version: 1.0
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  box-sizing: border-box; }

/*  COLUMN SETUP  */
body [class*="col-"] {
  display: block;
  float: left;
  margin: 0 0 0 2%; }
  body [class*="col-"]:first-child {
    margin-left: 0; }

.col-8-8 {
  width: 100%; }

.col-7-8 {
  width: 87.25%; }

.col-6-8 {
  width: 74.5%; }

.col-5-8 {
  width: 61.75%; }

.col-4-8 {
  width: 49%; }

.col-3-8 {
  width: 36.25%; }

.col-2-8 {
  width: 23.5%; }

.col-1-8 {
  width: 10.75%; }

.col-1-3 {
  width: 32%; }

.col-2-3 {
  width: 66%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  body [class*="col-"] {
    margin: 0 0 1.5em; }
  .col-1-8, .col-2-8, .col-3-8, .col-4-8, .col-5-8, .col-6-8, .col-7-8, .col-8-8, .col-1-3, .col-2-3 {
    width: 100%; } }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.clearfix:after, .article-wrapper:after {
  content: "";
  display: table;
  clear: both; }

label.select-label {
  position: relative; }
  label.select-label:after {
    content: '\f0d7';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    right: 1em;
    top: 50%;
    color: #FFF;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  label.select-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
    background: #fe0000;
    background: linear-gradient(145deg, #fe0000, #e90202);
    color: #FFF;
    padding: 1em 4em 1em 2em;
    border-radius: 100px;
    width: 100%; }
    label.select-label select option {
      color: #23232d; }

::-webkit-file-upload-button {
  display: inline-block;
  border-radius: 100px;
  color: #FFF;
  line-height: 1;
  background: #fe0000;
  background: linear-gradient(145deg, #fe0000, #e90202);
  padding: .8em 2em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 1.5em 0;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
  transition: all 200ms linear;
  text-decoration: none; }
  ::-webkit-file-upload-button:hover {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    cursor: pointer;
    border: none; }
  ::-webkit-file-upload-button:active, ::-webkit-file-upload-button:focus {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    border: none; }
  ::-webkit-file-upload-button.large {
    font-size: 1.25em; }
  ::-webkit-file-upload-button.small {
    font-size: .75em; }

button {
  display: inline-block;
  border-radius: 100px;
  color: #FFF;
  line-height: 1;
  background: #fe0000;
  background: linear-gradient(145deg, #fe0000, #e90202);
  padding: .8em 2em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 1.5em 0;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
  transition: all 200ms linear;
  text-decoration: none; }
  button:hover {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    cursor: pointer;
    border: none; }
  button:active, button:focus {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    border: none; }
  button.large {
    font-size: 1.25em; }
  button.small {
    font-size: .75em; }

a.button, #header #menu-main-menu li:last-child a, .button, #header #menu-main-menu li:last-child a {
  display: inline-block;
  border-radius: 100px;
  color: #FFF;
  line-height: 1;
  background: #fe0000;
  background: linear-gradient(145deg, #fe0000, #e90202);
  padding: .8em 2em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 1.5em 0;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
  transition: all 200ms linear;
  text-decoration: none; }
  a.button:hover, #header #menu-main-menu li:last-child a:hover, .button:hover, #header #menu-main-menu li:last-child a:hover {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    cursor: pointer;
    border: none; }
  a.button:active, #header #menu-main-menu li:last-child a:active, a.button:focus, #header #menu-main-menu li:last-child a:focus, .button:active, #header #menu-main-menu li:last-child a:active, .button:focus, #header #menu-main-menu li:last-child a:focus {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    border: none; }
  a.button.large, #header #menu-main-menu li:last-child a.large, .button.large, #header #menu-main-menu li:last-child a.large {
    font-size: 1.25em; }
  a.button.small, #header #menu-main-menu li:last-child a.small, .button.small, #header #menu-main-menu li:last-child a.small {
    font-size: .75em; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border-radius: 100px;
  color: #FFF;
  line-height: 1;
  background: #fe0000;
  background: linear-gradient(145deg, #fe0000, #e90202);
  padding: .8em 2em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 1.5em 0;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
  transition: all 200ms linear;
  text-decoration: none; }
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    cursor: pointer;
    border: none; }
  input[type="button"]:active, input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72);
    border: none; }
  input[type="button"].large,
  input[type="reset"].large,
  input[type="submit"].large {
    font-size: 1.25em; }
  input[type="button"].small,
  input[type="reset"].small,
  input[type="submit"].small {
    font-size: .75em; }

.give-padding {
  padding-left: 1em;
  padding-right: 1em; }

.centered-text {
  text-align: center; }

.align-center {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }

.block {
  display: block; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.full-width {
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
  overflow: hidden; }

.pr-gradient-overlay, #header.has-bg-image {
  position: relative; }
  .pr-gradient-overlay > *, #header.has-bg-image > * {
    position: relative;
    z-index: 1; }
  .pr-gradient-overlay:after, #header.has-bg-image:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(145deg, rgba(78, 41, 115, 0.5), rgba(254, 0, 0, 0.5)); }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .mfp-close:hover {
    box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

div[type="text/template"] {
  display: none;
  visibility: hidden;
  pointer-events: none; }
  .mfp-content div[type="text/template"] {
    display: block;
    visibility: visible;
    pointer-events: initial; }

.mb-8 {
  margin-bottom: 4rem; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.home-slider .slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  .home-slider .slide .slide-image {
    width: 45%;
    width: 100%;
    display: block;
    height: auto;
    order: 2; }
    @media screen and (min-width: 600px) {
      .home-slider .slide .slide-image {
        width: 45%;
        order: 0; } }
  .home-slider .slide .slide-content {
    width: 50%;
    width: 100%;
    order: 1;
    align-self: flex-start; }
    @media screen and (min-width: 600px) {
      .home-slider .slide .slide-content {
        width: 50%; } }
  .home-slider .slide .slide-title {
    border-left: 4px solid #fe0000;
    line-height: 1;
    padding-left: 1rem;
    font-size: 2em; }

.home-slider {
  position: relative;
  margin: 0; }
  .home-slider.slick-dotted.slick-slider {
    margin-bottom: 0; }
  .home-slider .slick-dots {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: auto; }
    .home-slider .slick-dots button {
      box-shadow: none; }

.home-slider .slide {
  display: none; }

.slick-initialized .slide {
  display: flex; }

.slick-dots li button:before {
  font-size: 16px; }

.slick-dots li.slick-active button:before {
  opacity: 1; }

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.article-wrapper {
  max-width: 50em;
  margin: 0 auto; }

#header .article-h1 {
  color: #FFF;
  font-size: 10vw;
  font-weight: 300;
  text-align: center;
  margin: 1em 0; }
  #header .article-h1:empty {
    display: none; }
  @media screen and (min-width: 1080px) {
    #header .article-h1 {
      font-size: 4vw; } }

.emphasized-heading {
  padding-left: .5em;
  border-left: 4px solid #fe0000; }

.inline-element {
  display: inline-block; }

blockquote {
  border-left: 4px solid #fe0000;
  margin: 0;
  padding-left: 2em; }

p {
  margin-top: 1em;
  margin-bottom: 1em; }

a {
  color: #23232d;
  border-bottom: 2px solid #fe0000;
  text-decoration: none;
  transition: all 200ms linear; }
  a:hover {
    border-bottom: 4px solid #fe0000; }

.h2 {
  font-size: 1.5em; }

#header {
  background-color: #333333;
  font-family: "Ubuntu", Arial, sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #header .hdr-logo {
    display: block;
    background-image: url("static/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 2em;
    top: -2.5em; }
    @media screen and (min-width: 860px) {
      #header .hdr-logo {
        top: initial;
        height: 3em; } }
    #header .hdr-logo-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      border: none; }
  #header #menu-toggle {
    display: none;
    margin-left: auto;
    background: none;
    font-size: 1.5em;
    padding: 0;
    border-radius: 0;
    margin: 0 0 .25em auto;
    box-shadow: none;
    width: 50%;
    text-align: right;
    position: relative;
    z-index: 1000;
    padding-bottom: 1em;
    outline: none; }
    @media screen and (max-width: 860px) {
      #header #menu-toggle {
        display: block; } }
  #header .straight-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    align-items: center; }
  #header .straight-nav li + li {
    margin-left: 2em; }
  #header .straight-nav li a {
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 0px solid #fe0000;
    transition: border-bottom 100ms linear; }
    #header .straight-nav li a:hover {
      border-bottom: 4px solid #fe0000; }
  #header .straight-nav li.current-menu-item a {
    border-bottom: 4px solid #fe0000; }
  #header #menu-main-menu {
    text-transform: uppercase; }
    #header #menu-main-menu li:last-child a {
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: center;
      border-bottom: none !important; }
  #header #menu-secondary-menu {
    font-size: .75em;
    margin-bottom: 2em; }
  #header .nav-wrapper {
    display: flex;
    flex-direction: column-reverse; }
  @media screen and (max-width: 860px) {
    #header .wrapper.container {
      display: block; }
      #header .wrapper.container [class*="col-"] {
        width: 100%;
        float: none;
        margin: 0; }
      #header .wrapper.container .nav-wrapper {
        width: 100%; } }

@media screen and (max-width: 860px) {
  #header .nav-wrapper {
    display: none; }
    #header .nav-wrapper ul {
      display: block;
      margin: 0;
      padding: 0; }
    #header .nav-wrapper .straight-nav li {
      display: block;
      margin: 0; }
      #header .nav-wrapper .straight-nav li a {
        border-color: #FFF; }
        #header .nav-wrapper .straight-nav li a:hover {
          border-color: #FFF; }
    #header .nav-wrapper #nav-main {
      border-bottom: 1px solid #333333;
      margin-bottom: 2em; }
      #header .nav-wrapper #nav-main ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column; }
        #header .nav-wrapper #nav-main ul li {
          margin-bottom: 1.5em; }
        #header .nav-wrapper #nav-main ul li:last-child {
          order: -1;
          margin-bottom: 1.5em; }
          #header .nav-wrapper #nav-main ul li:last-child a {
            background: #FFF;
            color: #e90202; }
    #header .nav-wrapper #nav-secondary li + li {
      margin-top: 1.5em; }
  #header.nav-open {
    display: block;
    background: linear-gradient(to bottom, #fe0000, #e90202) !important;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh; }
    #header.nav-open .hdr-logo {
      display: none; }
    #header.nav-open > *:not(.show-in-menu) {
      display: none; }
  #header.nav-open .nav-wrapper {
    display: block; } }

#footer {
  background: #333333;
  color: #FFF;
  padding: 2em 1em;
  margin-top: 2em; }
  #footer a {
    color: #FFF;
    text-decoration: none;
    border: none; }
    #footer a:hover {
      text-decoration: underline; }
  #footer .site-info .social-icons .fa {
    font-size: 1.25em;
    background: #FFF;
    width: 1.25em;
    height: 1.25em;
    display: inline-flex;
    align-items: center;
    color: #333333;
    justify-content: center;
    border: none; }
    #footer .site-info .social-icons .fa + .fa {
      margin-left: .5em; }
    #footer .site-info .social-icons .fa:hover {
      text-decoration: none;
      color: #FFF;
      background: #fe0000; }
    #footer .site-info .social-icons .fa-facebook-official {
      text-indent: 1px; }
  #footer .locations-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #footer .locations-wrap .location {
      flex: 0 1 48%;
      font-size: 75%; }
      #footer .locations-wrap .location:nth-child(2n + 4), #footer .locations-wrap .location:nth-child(2n+3) {
        margin-top: 1rem; }
      #footer .locations-wrap .location-name {
        font-weight: 700;
        font-size: 100%; }
      #footer .locations-wrap .location address {
        font-style: normal; }
  #footer .featured-title {
    text-transform: uppercase;
    border-left: 4px solid #fe0000;
    padding-left: .5em;
    letter-spacing: 2px;
    margin: 0 0 1em;
    font-size: 1em; }
  #footer .service-links, #footer .account-links {
    flex: 0 1 45%;
    font-size: 75%; }
    #footer .service-links .menu-title, #footer .account-links .menu-title {
      margin: 0;
      font-size: 100%; }
    #footer .service-links ul, #footer .account-links ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    #footer .service-links a, #footer .account-links a {
      color: #adadad; }
  #footer .helpful-links {
    display: flex;
    justify-content: space-between; }

.copyright-text {
  color: #adadad;
  font-size: .75em; }

@media screen and (max-width: 480px) {
  #footer .container {
    display: flex;
    flex-direction: column; }
    #footer .container .site-info {
      order: 100; }
      #footer .container .site-info .logo {
        max-width: 10em; } }

.footer-call-to-action {
  margin-top: 1.5em;
  color: #FFF;
  background-image: url("static/images/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em; }
  .footer-call-to-action .call-text {
    font-weight: 300;
    font-size: 2.5em; }
  .footer-call-to-action .find-services {
    margin: 3em 0; }

.agency {
  font-size: .5em;
  color: #adadad;
  padding: 4em 0 0;
  text-align: left; }

#tinymce.wp-editor {
  padding: .5em 1em;
  max-width: 50em;
  margin: 0 auto; }

.find-services .form-wrap {
  background: #FFF;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: .25em;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #adadad;
  box-shadow: 0 1em 38px rgba(35, 35, 45, 0.36);
  align-items: stretch; }
  @media screen and (max-width: 440px) {
    .find-services .form-wrap {
      font-size: 3vw; } }
  .find-services .form-wrap ::-webkit-input-placeholder {
    color: #adadad; }
  .find-services .form-wrap :-moz-placeholder {
    /* Firefox 18- */
    color: #adadad; }
  .find-services .form-wrap ::-moz-placeholder {
    /* Firefox 19+ */
    color: #adadad; }
  .find-services .form-wrap :-ms-input-placeholder {
    color: #adadad; }
  .find-services .form-wrap .map-icon {
    background: linear-gradient(145deg, #fe0000, #e90202);
    color: #FFF;
    font-size: 2em;
    padding: .5em .75em; }
    @media screen and (max-width: 544px) {
      .find-services .form-wrap .map-icon {
        padding: 1.75em .75em; } }
  .find-services .form-wrap .mobile-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    flex: 0 0 70%;
    justify-content: space-around; }
    .find-services .form-wrap .mobile-wrapper .select-wrapper {
      width: 100%; }
      .find-services .form-wrap .mobile-wrapper .select-wrapper select {
        padding-left: .25em; }
    .find-services .form-wrap .mobile-wrapper #zip-input {
      width: 100%;
      padding-left: .25em; }
    @media screen and (min-width: 900px) {
      .find-services .form-wrap .mobile-wrapper {
        flex-direction: row;
        align-items: center; }
        .find-services .form-wrap .mobile-wrapper .select-wrapper {
          width: 60%; }
          .find-services .form-wrap .mobile-wrapper .select-wrapper select {
            padding-left: 1em; }
        .find-services .form-wrap .mobile-wrapper #zip-input {
          width: 35%;
          padding-left: 1em; } }
  .find-services .form-wrap #zip-input {
    width: 35%;
    padding: 0 .25em 0 1em;
    font-size: 1em;
    border: none;
    color: #adadad;
    outline: none;
    line-height: 4; }
    @media screen and (min-width: 900px) {
      .find-services .form-wrap #zip-input {
        line-height: 4; } }
    @media screen and (max-width: 544px) {
      .find-services .form-wrap #zip-input {
        padding: 0 .25em; } }
  .find-services .form-wrap .select-wrapper {
    position: relative;
    width: 50%; }
    .find-services .form-wrap .select-wrapper .caret-wrapper {
      position: relative; }
    .find-services .form-wrap .select-wrapper .fa-caret-down {
      color: #fe0000;
      position: absolute;
      top: 50%;
      right: 1em;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      pointer-events: none; }
  .find-services .form-wrap .select-city-dropdown {
    padding: .25em 1em .25em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    color: rgba(173, 173, 173, 0.6);
    font-size: 1em;
    width: 100%;
    outline: none;
    line-height: 4; }
    @media screen and (min-width: 900px) {
      .find-services .form-wrap .select-city-dropdown {
        line-height: 4; } }
    .find-services .form-wrap .select-city-dropdown option {
      color: #adadad; }
  .find-services .form-wrap .or {
    position: relative;
    display: block;
    z-index: 1;
    color: #adadad;
    line-height: 1;
    width: 1em;
    left: 2em; }
    .find-services .form-wrap .or:before {
      content: '';
      width: 1em;
      height: 1px;
      background: #adadad;
      position: absolute;
      top: 50%;
      left: -1.5em; }
    .find-services .form-wrap .or:after {
      content: '';
      width: 1em;
      height: 1px;
      background: #adadad;
      position: absolute;
      top: 50%;
      right: -1.5em; }
    @media screen and (min-width: 900px) {
      .find-services .form-wrap .or {
        left: 0; }
        .find-services .form-wrap .or:before {
          content: '';
          width: 1px;
          height: 1em;
          background: #adadad;
          position: absolute;
          top: -1em;
          left: 50%;
          -webkit-transform: translate(-50%, -0.15em);
                  transform: translate(-50%, -0.15em); }
        .find-services .form-wrap .or:after {
          content: '';
          width: 1px;
          height: 1em;
          background: #adadad;
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%, 0.75em);
                  transform: translate(-50%, 0.75em); } }
  .find-services .form-wrap .button-wrap {
    display: flex;
    align-items: stretch;
    text-align: center;
    flex: 1; }
    @media screen and (max-width: 544px) {
      .find-services .form-wrap .button-wrap {
        flex-direction: column; } }
  .find-services .form-wrap button {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 3.5em 1em;
    flex: 1;
    background: #fe0000;
    color: #FFF;
    border: none; }
    @media screen and (min-width: 900px) {
      .find-services .form-wrap button {
        padding: 1.5em 1em;
        padding: 2.5em 1em; } }

.blog #content, .archive #content {
  margin-top: 2em; }

.tease {
  border: 1px solid #adadad;
  box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
  padding: 1em; }
  .tease + .tease {
    margin-top: 4em; }
  .tease .emphasized-heading a {
    border: none; }

.term-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .term-list li {
    display: inline-block; }

.tool-pagination {
  text-align: center;
  margin: 4em 0; }
  .tool-pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .tool-pagination .pages li {
      display: inline-block; }
      .tool-pagination .pages li + li {
        margin-left: 1em; }
      .tool-pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .tool-pagination .next {
    margin-left: 1em; }

.tool-pagination:empty {
  display: none; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #fe0000; }

#commentform .comment-form-url {
  display: none; }

.home #header {
  background: linear-gradient(145deg, rgba(78, 41, 115, 0.5), rgba(254, 0, 0, 0.5)), url("static/images/home-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.home .header-call-to-action .call-text {
  color: #FFF;
  font-size: 10vw;
  font-weight: 300; }
  @media screen and (min-width: 1080px) {
    .home .header-call-to-action .call-text {
      font-size: 5vw; } }

.home #content {
  margin-top: 8em; }

.home .find-services .form-wrap {
  top: 4em;
  top: 5em; }
  @media screen and (max-width: 899px) {
    .home .find-services .form-wrap {
      top: 6.5em; } }
  @media screen and (max-width: 544px) {
    .home .find-services .form-wrap {
      top: 7em; } }

.home .home-services {
  padding: 2em 1em 5em;
  color: #FFF;
  position: relative;
  background: url("static/images/service-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: .5rem;
  overflow: hidden; }
  .home .home-services:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(145deg, rgba(78, 41, 115, 0.85), rgba(254, 0, 0, 0.85));
    opacity: .85; }
  .home .home-services .container .col-2-8 {
    position: relative; }
  .home .home-services .section-title {
    font-size: 2em;
    text-align: center;
    position: relative;
    font-weight: 400;
    margin: 0 0 2em;
    font-weight: 400; }
  .home .home-services .service-icon {
    display: block;
    font-size: 4em;
    text-align: center; }
  .home .home-services .service-title {
    text-align: center;
    font-size: 1.25em;
    font-weight: 400; }
    @media screen and (min-width: 900px) {
      .home .home-services .service-title {
        font-size: 1.5em; } }
  .home .home-services .service-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid #FFF; }
    .home .home-services .service-list li {
      padding: .5em 1em; }
      .home .home-services .service-list li + li {
        border-top: 1px dotted #FFF; }
    .home .home-services .service-list a {
      color: #FFF;
      border: none; }
      .home .home-services .service-list a:hover {
        text-decoration: underline; }

.home .home-service-hero {
  position: relative;
  text-align: center;
  pointer-events: none; }
  @media screen and (min-width: 900px) {
    .home .home-service-hero {
      top: -8rem; } }
  .home .home-service-hero .hero-title-wrap {
    font-weight: 400;
    margin: 2em auto 0;
    display: inline-block;
    top: 14rem;
    right: 6rem;
    font-size: 150%; }
    @media screen and (min-width: 600px) {
      .home .home-service-hero .hero-title-wrap {
        position: absolute;
        margin: 0;
        right: 2rem;
        top: 4rem;
        font-size: 120%; } }
    @media screen and (min-width: 900px) {
      .home .home-service-hero .hero-title-wrap {
        position: absolute;
        margin: 0;
        right: 6rem;
        top: 14rem;
        font-size: 150%; } }
  .home .home-service-hero .hero-title {
    border-left: 4px solid #fe0000;
    line-height: 1;
    padding-left: .25rem;
    font-size: 2em;
    text-align: left; }
  .home .home-service-hero .hero-subtitle {
    font-size: 1.25em;
    padding-left: calc( .25rem + 4px);
    text-align: left; }
  .home .home-service-hero .hero-image {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }

.channel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  align-items: stretch; }
  .channel-wrapper .channel {
    flex: 0 1 45%;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 600px) {
      .channel-wrapper .channel {
        flex: 0 1 30%; } }
    @media screen and (min-width: 800px) {
      .channel-wrapper .channel {
        flex: 0 1 15%; } }
    .channel-wrapper .channel:hover {
      box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72); }
    .channel-wrapper .channel img {
      display: block;
      margin: 0 auto; }
    .channel-wrapper .channel a {
      display: block;
      border: none;
      padding: 1em; }

.tv-everywhere-nav {
  background: #FFF;
  padding: 2em 2em 1em;
  border-radius: .5em;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 1em 38px rgba(35, 35, 45, 0.36);
  margin-bottom: 4em; }
  @media screen and (min-width: 800px) {
    .tv-everywhere-nav {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      margin-bottom: 0; } }
  .tv-everywhere-nav .nav-title {
    margin: 0;
    line-height: 1;
    font-weight: 400; }
  @media screen and (min-width: 680px) {
    .tv-everywhere-nav .links-wrapper {
      display: flex;
      justify-content: space-between; } }
  .tv-everywhere-nav hr {
    margin: 1em 0 2em;
    background: rgba(173, 173, 173, 0.5);
    border: none;
    height: 2px; }
  .tv-everywhere-nav a {
    display: block;
    border-bottom-width: 4px;
    border-color: #FFF;
    line-height: 1;
    margin-bottom: 1em;
    text-transform: uppercase; }
    .tv-everywhere-nav a:hover, .tv-everywhere-nav a.active-tab {
      border-bottom-width: 4px;
      border-color: #fe0000; }

.platform-links .fa {
  font-size: 1.5em; }

.page-template-about-us .meet-team-heading {
  margin-top: 2em; }

.page-template-about-us .employee-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-template-about-us .employee-list li + li {
    margin-top: 1em; }
  .page-template-about-us .employee-list .name {
    font-weight: 700; }

.page-template-about-us .group-photo {
  width: 100%;
  height: auto;
  display: block; }

.page-template-about-us .tab-content {
  margin-top: 2em;
  margin-bottom: 4em; }

.page-template-about-us .tabs {
  margin-top: 4em;
  text-align: center;
  border-bottom: 1px solid #adadad; }
  .page-template-about-us .tabs .tab-switch {
    display: inline-block;
    border-color: #FFF;
    position: relative;
    border-width: 4px; }
    @media screen and (min-width: 600px) {
      .page-template-about-us .tabs .tab-switch {
        font-size: 1.5em; } }
    .page-template-about-us .tabs .tab-switch + .tab-switch {
      margin-left: 2em; }
    .page-template-about-us .tabs .tab-switch.active-tab {
      border-color: #fe0000; }
    .page-template-about-us .tabs .tab-switch:hover {
      border-color: #fe0000; }

.page-template-about-us .content-wrapper .location {
  margin-bottom: 2em; }
  .page-template-about-us .content-wrapper .location .location-name {
    font-weight: 700; }

.page-template-about-us .locations-wrap {
  margin-top: 4em; }

.page-template-service-overview .services .service {
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (min-width: 800px) {
    .page-template-service-overview .services .service {
      padding-top: 6em;
      padding-bottom: 6em; } }
  .page-template-service-overview .services .service.cable {
    padding-top: 25vh;
    padding-bottom: 25vh;
    color: #FFF;
    background-image: url("static/images/service-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.page-template-service-overview .services .service-image {
  display: none; }
  @media screen and (min-width: 480px) {
    .page-template-service-overview .services .service-image {
      display: block; } }

.page-template-service-overview.business .service.cable {
  background-image: url("static/images/meeting.jpg"); }

.page-template-service-overview .footer-call-to-action {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: -2em; }

#kbe_container {
  width: 100%;
  margin-top: 8em; }

#kbe_content h2 span.kbe_count {
  background: linear-gradient(145deg, #fe0000, #e90202);
  background: #adadad; }

.kbe_category h2 a {
  border-bottom: none; }

#kbe_container .kbe_widget {
  clear: both; }
  #kbe_container .kbe_widget h2 {
    padding-bottom: 0 !important;
    border-bottom: none; }
  #kbe_container .kbe_widget ul {
    border-top: 1px solid #ccc;
    padding-top: 1em; }
  #kbe_container .kbe_widget li {
    padding: 0;
    background: none; }

#kbe_content .kbe_leftcol .kbe_article_list li {
  background-position: left center; }

.post-type-archive-kbe_knowledgebase #kbe_content > h1 {
  display: none; }

.post-type-archive-kbe_knowledgebase .kbe_widget {
  display: none; }

.archive .footer-call-to-action, .single .footer-call-to-action, .page .footer-call-to-action {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: -2em; }

#kbe_content .kbe_leftcol a {
  color: inherit; }

#kbe_content .kbe_leftcol a.button, #kbe_content .kbe_leftcol #header #menu-main-menu li:last-child a, #header #menu-main-menu li:last-child #kbe_content .kbe_leftcol a {
  color: #FFF; }

#kbe_content .kbe_leftcol p {
  line-height: inherit;
  font-size: inherit; }

.support-call-to-action-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: -7em;
  margin-top: 2em;
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 600px) {
    .support-call-to-action-links {
      flex-direction: row; } }
  .support-call-to-action-links a {
    display: block;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2em 1em;
    background: linear-gradient(145deg, #fe0000, #e90202);
    width: 100%;
    border-radius: .25em;
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 1em; }
    @media screen and (min-width: 600px) {
      .support-call-to-action-links a {
        max-width: 30%; } }
    .support-call-to-action-links a:hover {
      box-shadow: 0 4px 8px rgba(35, 35, 45, 0.72); }

#kbe_content .kbe_leftcol .gform_wrapper span {
  display: inline-block;
  padding: inherit;
  margin-bottom: inherit; }

#kbe_content .kbe_leftcol .gform_wrapper .gform_fields {
  list-style: none;
  padding: 0; }

@media only screen and (min-width: 641px) {
  #kbe_content .kbe_leftcol .gform_wrapper div.ginput_container_name span, #kbe_content .kbe_leftcol .gform_wrapper .ginput_complex .ginput_left, #kbe_content .kbe_leftcol .gform_wrapper .ginput_complex .ginput_right {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    padding-right: 16px;
    margin-right: -4px; } }

.single.single-residential_city #header, .single.single-business_city #header {
  padding-bottom: 12em; }

.bundles-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: -12em;
  margin-bottom: 4em;
  position: relative;
  z-index: 10;
  flex-wrap: wrap; }
  @media screen and (min-width: 600px) {
    .bundles-wrap {
      justify-content: space-between;
      flex-wrap: nowrap; }
      .bundles-wrap.space-around {
        justify-content: space-around; } }
  @media screen and (min-width: 1200px) {
    .bundles-wrap {
      margin-left: -6em;
      margin-right: -6em; } }
  .bundles-wrap .bundle-wrapper {
    background: #FFF;
    width: 95%;
    border-radius: .5em;
    box-shadow: 0 4px 8px rgba(35, 35, 45, 0.36);
    box-shadow: 0 1em 38px rgba(35, 35, 45, 0.36);
    overflow: hidden;
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 600px) {
      .bundles-wrap .bundle-wrapper {
        margin-bottom: 0; } }

.bundle-header {
  background: linear-gradient(145deg, #fe0000, #e90202);
  color: #FFF;
  text-align: center;
  padding: 1em .5em;
  font-family: "Ubuntu", Arial, sans-serif;
  text-transform: uppercase;
  position: relative; }
  .bundle-header.bundle-coming-soon {
    background: #e0e0e0;
    color: #23232d; }
    .bundle-header.bundle-coming-soon .bundle-price {
      font-size: 2.5em;
      line-height: 1;
      padding: .55em 0; }
    .bundle-header.bundle-coming-soon + .bundle-services .service-wrapper:first-child {
      border-top: none; }
  .bundle-header .bundle-cta {
    position: absolute;
    right: 1em;
    bottom: -3em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0;
    background: #FFF;
    color: #fe0000;
    text-align: center; }
    .bundle-header .bundle-cta .fa {
      font-size: 1.25em;
      text-indent: 2px; }
  .bundle-header .bundle-price {
    font-size: 4vw;
    font-weight: 300; }
    @media screen and (min-width: 800px) {
      .bundle-header .bundle-price {
        font-size: 3.5em; } }

.bundle-savings {
  display: block;
  justify-content: space-between;
  text-align: center;
  font-family: "Ubuntu", Arial, sans-serif;
  padding: 1.5em 1em 1em;
  font-size: 1.5em;
  color: #adadad; }
  .bundle-savings .savings-description {
    font-size: .5em;
    margin-bottom: 1em; }
  @media screen and (min-width: 800px) {
    .bundle-savings {
      display: flex; }
      .bundle-savings .savings-description {
        margin-bottom: 0; } }

.bundle-services {
  padding: 0 1em; }
  .bundle-services .service-wrapper {
    margin-top: .5em;
    border-top: 1px solid #adadad;
    padding-top: .5em; }

.bundle-icon {
  font-size: 4em;
  margin: 0 .25em;
  width: 25%;
  text-align: center;
  display: none;
  color: #fe0000; }
  @media screen and (min-width: 800px) {
    .bundle-icon {
      display: block; } }

.service-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.bundle-details {
  width: 75%;
  list-style: none;
  padding: 0;
  margin: 1em 0; }
  .bundle-details li + li {
    margin-top: 1.5em; }
  .bundle-details .detail-title {
    text-transform: uppercase;
    color: #adadad;
    font-size: .75em; }

.services {
  margin-top: 4em;
  margin-bottom: 4em; }
  .services .tabs {
    text-align: center;
    border-bottom: 1px solid #adadad; }
    .services .tabs .tab-switch {
      display: inline-block;
      border-color: #FFF;
      position: relative;
      border-width: 4px; }
      @media screen and (min-width: 600px) {
        .services .tabs .tab-switch {
          font-size: 1.5em; } }
      .services .tabs .tab-switch + .tab-switch {
        margin-left: 2em; }
      .services .tabs .tab-switch.active-tab {
        border-color: #fe0000; }
      .services .tabs .tab-switch:hover {
        border-color: #fe0000; }
  .services .service .tab-image {
    display: none;
    width: 100%;
    height: auto; }
    @media screen and (min-width: 600px) {
      .services .service .tab-image {
        display: block; } }
    .services .service .tab-image.phone {
      max-width: 50%;
      margin-left: 0; }
    .services .service .tab-image.cable {
      margin-top: 2em; }
    .services .service .tab-image.internet {
      width: 60%;
      margin-left: -10%; }
  .services .service .pull-left {
    margin-left: -50%;
    float: left;
    padding-right: 6em; }
  @media screen and (min-width: 600px) {
    .services .service .inner-wrap {
      width: 50%;
      margin-left: auto; } }
  .services .service .emphasized-heading {
    font-size: 2.5em;
    font-weight: 400; }
  .services .service .tier {
    position: relative;
    font-family: "Ubuntu", Arial, sans-serif;
    padding: 2em 2em;
    border-radius: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(173, 173, 173, 0.25); }
    .services .service .tier + .tier {
      margin-top: 2em; }
    .services .service .tier .tier-price {
      font-size: 2em; }
    .services .service .tier .tier-title {
      font-size: 1.5em;
      line-height: 1.25;
      max-width: 16em; }
      .services .service .tier .tier-title .sub-title {
        font-size: .75em;
        color: #adadad; }
    .services .service .tier .tier-extras {
      width: 100%; }
    .services .service .tier.featured {
      padding-top: 2.5em; }
      .services .service .tier.featured:after {
        font-size: .75em;
        line-height: 1;
        text-transform: uppercase;
        content: "Most Popular";
        position: absolute;
        left: 0;
        top: 1em;
        padding: .5em 1.5em .25em 2em;
        border-radius: 0 1em 1em 0;
        background: #fe0000;
        color: #FFF; }

.city-cta-buttons a, .city-cta-buttons button {
  display: block;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .city-cta-buttons a, .city-cta-buttons button {
      display: inline-block;
      width: auto;
      margin-left: 1em;
      margin-right: 1em; } }

.page-template-info-hub .featured-post {
  display: block;
  align-items: flex-start;
  margin-top: 4em; }
  @media screen and (min-width: 700px) {
    .page-template-info-hub .featured-post {
      display: flex; }
      .page-template-info-hub .featured-post h1 {
        margin-top: 0; } }
  .page-template-info-hub .featured-post .featured-image {
    width: 100%;
    flex: 1 0 50%; }
    @media screen and (min-width: 700px) {
      .page-template-info-hub .featured-post .featured-image {
        width: 50%;
        margin-right: 2em; } }

.page-template-info-hub .sub-features {
  margin-top: 4em;
  margin-bottom: 4em; }
  @media screen and (max-width: 900px) and (min-width: 481px) {
    .page-template-info-hub .sub-features .col-2-8 {
      width: 48%; }
      .page-template-info-hub .sub-features .col-2-8:nth-child(3) {
        margin-left: 0; } }

.page-template-info-hub .taxonomy-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-template-info-hub .taxonomy-list li > a {
    display: flex;
    border: none;
    font-weight: 700;
    align-items: center; }
  .page-template-info-hub .taxonomy-list .posted-on {
    font-weight: 400; }
  .page-template-info-hub .taxonomy-list li + li {
    margin-top: 2em; }
  .page-template-info-hub .taxonomy-list .thumbnail {
    flex: 1 0 4em;
    margin-right: 1em;
    max-width: 4em; }

.page-template-tech-home .tabs {
  margin: 2em 0; }

.page-template-tech-home .tabs {
  text-align: center;
  border-bottom: 1px solid #adadad; }
  .page-template-tech-home .tabs .tab-switch {
    display: inline-block;
    border-color: #FFF;
    position: relative;
    border-width: 4px;
    font-size: 4vw; }
    @media screen and (min-width: 600px) {
      .page-template-tech-home .tabs .tab-switch {
        font-size: 1.5em;
        display: inline-block;
        margin-bottom: 0;
        font-size: 150%; } }
    .page-template-tech-home .tabs .tab-switch + .tab-switch {
      margin-left: 2em; }
    .page-template-tech-home .tabs .tab-switch.active-tab {
      border-color: #fe0000; }
    .page-template-tech-home .tabs .tab-switch:hover {
      border-color: #fe0000; }

.page-template-tech-home .device-support {
  margin-top: 4em;
  overflow-x: scroll; }
  .page-template-tech-home .device-support table {
    border-spacing: 0;
    overflow-x: scroll;
    width: 100%; }
  .page-template-tech-home .device-support th img {
    max-width: 2em;
    vertical-align: middle;
    margin-right: 1em; }
  .page-template-tech-home .device-support th, .page-template-tech-home .device-support td {
    min-width: 100px;
    width: 17.5%;
    padding: .5em;
    border: 1px solid #adadad; }
    .page-template-tech-home .device-support th:last-child, .page-template-tech-home .device-support td:last-child {
      width: 30%;
      min-width: 200px; }

.page-template-tv-now #header .article-h1 {
  margin-bottom: 4em; }

.tv-now-hero-image-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.tv-now-hero-tv {
  margin-top: -10em;
  margin-bottom: 4em;
  position: relative;
  z-index: 10; }

.tv-now-info-sections {
  margin-bottom: 4em; }
  .tv-now-info-sections .tv-now-info-section:nth-child(2n) {
    flex-direction: row-reverse; }
  .tv-now-info-sections .tv-now-info-section {
    margin-bottom: 4em; }
    .tv-now-info-sections .tv-now-info-section__content {
      margin-right: 2em; }
    .tv-now-info-sections .tv-now-info-section__image {
      margin-right: 2em; }

.tv-now-streaming-devices {
  margin-bottom: 4em; }
  .tv-now-streaming-devices h2 {
    font-size: 2em;
    font-weight: 300; }
  .tv-now-streaming-devices__images {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 600px) {
      .tv-now-streaming-devices__images {
        flex-wrap: nowrap; } }
    .tv-now-streaming-devices__images-wrapper {
      margin-bottom: 2rem; }
    .tv-now-streaming-devices__images img {
      max-height: 10rem; }

.tv-now-tiers {
  margin-bottom: 8em; }
  .tv-now-tiers .tier.featured::after {
    content: "Best Deal" !important; }

.tv-now-faq {
  margin-bottom: 4em; }
  .tv-now-faq__section {
    margin-bottom: 2em; }
