{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="locations-wrap">
					<h1 class="emphasized-heading">Our Locations / Contact</h1>
					<div class="container">
						<div class="location col-4-8">
							<div class="location-name">Glen Elder Office</div>
							<address>220 W Main Street, Glen Elder, KS</address>
							<div class="location-contact">
								<a href="tel:785-545-3215">(785) 545-3215</a>
								<span class="sep">/</span>
								<a href="tel:1-800-287-8495">1 (800) 287-8495</a>
							</div>
						</div>
						<div class="location col-4-8">
							<div class="location-name">Concordia Office</div>
							<address>407 W 6th Street, Concordia, KS</address>
							<div class="location-contact"><a href="tel:785-243-4068">(785) 243-4068</a></div>
						</div>
					</div>
					<div class='container'>
						<div class="location col-4-8">
							<div class="location-name">Belleville Office</div>
							<address>1809 N St, Belleville, KS</address>
							<div class="location-contact"><a href="tel:785-527-2226">(785) 527-2226</a></div>
						</div>
						<div class="location col-4-8">
							<div class="location-name">Beloit Office</div>
							<address>110 W Main St, Beloit, KS</address>
							<div class="location-contact"><a href="tel:785-534-1111">(785) 534-1111</a></div>
						</div>
					</div>
				</div>

				<h1 class="screen-reader-text">{{ post.title }}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
				<h1 class="meet-team-heading emphasized-heading">Meet the Team</h1>
				<div class="owners-wrap container">
					<div class="col-4-8">
						<img src="{{ owner_photo.src }}" class="group-photo" />
					</div>
					<div class="col-4-8">
						<ul class="employee-list">
						{% for owner in post.get_field('owners') %}
							<li><span class="name">{{ owner.name }}</span> - {{ owner.title }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>

				<div class="location-employees">
					<div class="tabs">
						<a href="#" class="tab-switch active-tab" data-tab-target="glen-elder">Glen Elder</a>
						<a href="#" class="tab-switch" data-tab-target="belleville">Belleville</a>
						<a href="#" class="tab-switch" data-tab-target="beloit">Beloit</a>
						<a href="#" class="tab-switch" data-tab-target="concordia">Concordia</a>
					</div>

					<div class="tab-content" data-tab="glen-elder">
						<div class="container">
							<div class="col-4-8">
								<img src="{{ glen_elder_photo }}" class="group-photo">
							</div>
							<div class="col-4-8">
								<ul class="employee-list">
									{% for employee in post.get_field('glen_elder_employees') %}
										<li><span class="name">{{ employee.name }}</span> - {{ employee.title }}</li>
									{% endfor %}
									</ul>
							</div>
						</div>
					</div>
					<div class="tab-content" data-tab="belleville" style="display: none;">
						<div class="container">
							<div class="col-4-8">
								<img src="{{ belleville_photo }}" class="group-photo">
							</div>
							<div class="col-4-8">
								<ul class="employee-list">
									{% for employee in post.get_field('belleville_employees') %}
										<li><span class="name">{{ employee.name }}</span> - {{ employee.title }}</li>
									{% endfor %}
									</ul>
							</div>
						</div>
					</div>
					<div class="tab-content" data-tab="beloit" style="display: none;">
						<div class="container">
							<div class="col-4-8">
								<img src="{{ beloit_photo }}" class="group-photo">
							</div>
							<div class="col-4-8">
								<ul class="employee-list">
									{% for employee in post.get_field('beloit_employees') %}
										<li><span class="name">{{ employee.name }}</span> - {{ employee.title }}</li>
									{% endfor %}
									</ul>
							</div>
						</div>
					</div>
					<div class="tab-content" data-tab="concordia" style="display: none;">
						<div class="container">
							<div class="col-4-8">
								<img src="{{ concordia_photo }}" class="group-photo">
							</div>
							<div class="col-4-8">
								<ul class="employee-list">
									{% for employee in post.get_field('concordia_employees') %}
										<li><span class="name">{{ employee.name }}</span> - {{ employee.title }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
	<div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
		<button onclick="vm.showAllCitiesPopup();">Discover Services In Your Area</button>
	</div>
	<div type="text/template" id="choose-city-location-vue">
		<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
		<div class="centered-text">
			<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
			<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
		</div>
	</div>

	<div type="text/template" id="choose-service-type-vue">
		<h3 class="emphasized-heading">What type of service are you looking for?</h3>
		<div class="centered-text">
			<button onclick="vm.setChosenType('residential')">Residential</button>
			<button onclick="vm.setChosenType('business')">Business</button>
		</div>
	</div>

	<div type="text/template" id="show-all-cities-vue">
		<h3 class="emphasized-heading">What city do you live in?</h3>
		<div class="centered-text">
			<label class="select-label">
				<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
					<option value="">Choose Your City</option>
					{% for city in cities %}
						<option value="{{city}}">{{city}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
	</div>
{% endblock %}