{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		
		<div id="vue-wrapper">
		
			{% block header %}
				{% include 'header.twig' with { hero_content: block('hero_content') } %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper container give-padding">
				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			<div id="results-popup" class="magnific mfp-hide"></div>
		
		</div> <!-- #vue-wrapper -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
		<script src="{{ site.theme.uri }}/static/js/vue.js"></script>
		<script src="{{ site.theme.uri }}/static/js/home.js"></script>
		{{ function('wp_footer') }}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-9944557-28', 'auto', 'cunningham');
		  ga('cunningham.send', 'pageview');

		</script>
	</body>
</html>
