<footer id="footer">
	<div class="container">
		<div class="site-info col-2-8">
			<div class="container">
				<div class="col-4-8">
					<a href='/'><img src="{{ logo }}" class="footer-logo logo" /></a>
				</div>
			</div>
			<p class="copyright-text">&copy; {{"now"|date('Y')}} Cunningham Telephone &amp; Cable</p>
			<p class="social-icons">
				<a href="https://www.facebook.com/Cunningham-Telephone-and-Cable-200306666669645/?fref=ts" class="fa fa-facebook-official">
					<span class="screen-reader-text">Facebook</span>
				</a>
				<a href="https://www.youtube.com/channel/UCabanPWvKqhdJM9savkspcg" class="fa fa-youtube">
					<span class="screen-reader-text">YouTube</span>
				</a>
			</p>
		</div>
		<div class="col-4-8">
			<h4 class="locations-title featured-title">Our Locations</h4>
			<div class="locations-wrap">
				<div class="location">
					<div class="location-name">Glen Elder Office</div>
					<address>220 W Main Street, Glen Elder, KS</address>
					<div class="location-contact">
						<a href="tel:785-545-3215">(785) 545-3215</a>
						<span class="sep">/</span>
						<a href="tel:1-800-287-8495">1 (800) 287-8495</a>
					</div>
				</div>
				<div class="location">
					<div class="location-name">Concordia Office</div>
					<address>407 W 6th Street, Concordia, KS</address>
					<div class="location-contact"><a href="tel:785-243-4068">(785) 243-4068</a></div>
				</div>
				<div class="location">
					<div class="location-name">Belleville Office</div>
					<address>1809 N St, Belleville, KS</address>
					<div class="location-contact"><a href="tel:785-527-2226">(785) 527-2226</a></div>
				</div>
				<div class="location">
					<div class="location-name">Beloit Office</div>
					<address>110 W Main St, Beloit, KS</address>
					<div class="location-contact"><a href="tel:785-534-1111">(785) 534-1111</a></div>
				</div>
			</div>
			<p><small>This institution is an equal opportunity provider and employer.</small></p>
		</div>
		<div class="col-2-8">
			
			<h4 class="helpful-links-title featured-title">Helpful Links</h4>

			<div class="helpful-links">

				<div class="service-links">
					<h5 class="menu-title">Existing Customers</h5>
					{{ function('cunningham_footer_service_links_nav') }}
				</div>
				<div class="account-links">
					<h5 class="menu-title">Info Links</h5>
					{{ function('cunningham_footer_account_links_nav') }}
				</div>

			</div>

		</div>

	</div>
	<div class="agency container"><a href="https://weare502.com" rel="nofollow">Website designed by 502</a></div>
</footer>
<form id="bill-pay-form" action="https://webapps.paydq.com/newmacc/interceptor" method="POST" style="display: none;" aria-hidden="true"> 
    <input type="hidden" name = "COINTID"  value="546" /> <br>
    <input type ="hidden" name="GROUPID" value="216" /><br>   
    <input type ="hidden" name="URL" value ="http://www.cunninghamtelephoneandcable.com"/><br>
	<input type ="hidden" name="SSON" value ="NO"/><br>
    <input type="submit" value="Continue" class="buttons"/>
</form>