{% extends "base.twig" %}

{% block hero_content %}
	<div class="header-call-to-action centered-text">
		<h2 class="call-text">Connect with us</h2>
		{# <p class="centered-text">
			<a class="button" href="#services">View Pricing &amp; Packages</a>
		</p> #}
	</div>
	<div class="find-services container">
		<div class="form-wrap" id="find-zip-form" method="GET" action="/">
			{# <div class="map-icon fa fa-map-marker"></div> #}
			<div class="mobile-wrapper">
				<div class="select-wrapper">
					<div class="caret-wrapper">
						<select onchange="vm.resetVars(); vm.currentCity = this.options[this.selectedIndex].value;" class="select-city-dropdown">
							<option value="">Choose Your City</option>
							{% for city in cities %}
								<option value="{{city}}">{{city}}</option>
							{% endfor %}
						</select>
						<span class="fa fa-caret-down"></span>
					</div>
				</div>
				<span class="or">or</span>
				<input v-model="zip" @keyup.enter="getCityFromZip" type="text" min="0" max="99999" step="1" id="zip-input" inputmode="numeric" placeholder="Zip Code" />
			</div>
			<div class="button-wrap">
				<button @click="getCityFromZip" id="find-services-button">Find Services</button>
				
				{# <button @click="showAllCitiesPopup" id="show-all-cities">Choose Your City</button> #}
			</div>
		</div>
	</div>

	<div type="text/template" id="choose-city-location-vue">
		<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
		<div class="centered-text">
			<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
			<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
		</div>
	</div>

	<div type="text/template" id="choose-service-type-vue">
		<h3 class="emphasized-heading">What type of service are you looking for?</h3>
		<div class="centered-text">
			<button onclick="vm.setChosenType('residential')">Residential</button>
			<button onclick="vm.setChosenType('business')">Business</button>
		</div>
	</div>

	<div type="text/template" id="show-all-cities-vue">
		<h3 class="emphasized-heading">What city do you live in?</h3>
		<div class="centered-text">
			<label class="select-label">
				<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
					<option value="">Choose Your City</option>
					{% for city in cities %}
						<option value="{{city}}">{{city}}</option>
					{% endfor %}
				</select>
			</label>
			{# <p>If you live out of your town's city limits, choose the (Rural) option if available.</p> #}
		</div>
	</div>
{% endblock %}

{% block content %}
	<section class="home-slider">
		{% for slide in slides %}
			<div class="slide">
				<img src="{{ slide.image.src('large') }}" class="slide-image" />
				<div class="slide-content">
					<div class="slide-title">{{ slide.title }}</div>
					{{ slide.content | wpautop }}
				</div>
			</div>
		{% endfor %}
	</section>
	<section class="home-services">
		<h2 class="section-title">Our Services</h2>
		<div class="container">
			<div class="col-2-8">
				<i class="service-icon fa fa-laptop"></i>
				<h3 class="service-title">Internet</h3>
				<ul class="service-list">
					{% for service in internet_services %}
						<li class="service-list-item">
							{% if service.link %}
								<a href="{{service.link}}">{{ service.name }}</a>
							{% else %}
								{{ service.name }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-television"></i>
				<h3 class="service-title">Cable</h3>
				<ul class="service-list">
					{% for service in cable_services %}
						<li class="service-list-item">
							{% if service.link %}
								<a href="{{service.link}}">{{ service.name }}</a>
							{% else %}
								{{ service.name }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-phone"></i>
				<h3 class="service-title">Telephone</h3>
				<ul class="service-list">
					{% for service in telephone_services %}
						<li class="service-list-item">
							{% if service.link %}
								<a href="{{service.link}}">{{ service.name }}</a>
							{% else %}
								{{ service.name }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-briefcase"></i>
				<h3 class="service-title">Business Services</h3>
				<ul class="service-list">
					{% for service in business_services %}
						<li class="service-list-item">
							{% if service.link %}
								<a href="{{service.link}}">{{ service.name }}</a>
							{% else %}
								{{ service.name }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<div class="home-service-hero">
		<h4 class="hero-title-wrap">
			<div class="hero-title">Happily Serving</div>
			<div class="hero-subtitle">since 1946</div>
		</h4>
		<img class="hero-image" src="{{ site.theme.uri }}/static/images/service-hero.png" srcset="{{ site.theme.uri }}/static/images/service-hero-600.png 700w, {{ site.theme.uri }}/static/images/service-hero.png 1200w" />
	</div>
	<div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
		<h2 class="call-text">Discover services in your area</h2>
		<p class="centered-text">
			<button onclick="vm.showAllCitiesPopup();" class="button" href="#services">View Pricing &amp; Packages</button>
		</p>
	</div>

{% endblock %}