<header id="header" 
		class="header give-padding {% if header_hero_image %} has-bg-image {% endif %}" 
		{% if header_hero_image %}
			style="background-image: url({{ header_hero_image }});"
		{% endif %}
	><!-- #header open -->


	<button id="menu-toggle" class="fa fa-bars show-in-menu"><span class="screen-reader-text">Toggle Menu</span></button>
	<div class="wrapper container align-center show-in-menu">
		<div class="col-2-8">
			<h1 class="hdr-logo" role="banner">
				<a class="hdr-logo-link" href="{{site.url}}" rel="home"><span class="screen-reader-text">Cunningham Telephone &amp; Cable</span></a>
			</h1>
		</div>
		<div class="col-1-8"></div>
		<div class="nav-wrapper col-5-8">
			<nav id="nav-main" class="nav-main straight-nav" role="navigation">
				{{ function( 'cunningham_primary_nav' ) }}
			</nav><!-- #nav -->
			<nav id="nav-secondary" class="nav-secondary straight-nav" role="navigation">
				{{ function( 'cunningham_secondary_nav' ) }}
			</nav>
		</div>
	</div>
	{{ hero_content }}
</header><!-- #header close -->