{% extends "base.twig" %}

{% block hero_content %}
	<h1 class="article-h1">Info Hub</h1>
{% endblock %}

{% block content %}
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
{% endblock %}