{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="featured-post">
			<img src="{{ featured_post.get_thumbnail.src }}" class="featured-image" />
			<div class="content">
				<h1 class="emphasized-heading">{{ featured_post.title }}</h1>
				{{ featured_post.get_preview(100) }}
			</div>
		</div>
		<div class="container sub-features">
			<div class="col-2-8">
				<h2 class="centered-text">Community</h2>
				<ul class="taxonomy-list">
					{% for post in community_posts %}
					<li>
						<a href="{{ post.link }}">
							{% if post.get_thumbnail %}
								<img src="{{ post.get_thumbnail.src | resize(64, 64) }}" class="thumbnail" />
							{% endif %}
							<div class="info">
								{{ post.title }}
								<div class="posted-on">
									<span class="fa fa-clock-o"></span> 
									{{ post.date | time_ago }}
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<h2 class="centered-text">Service Updates</h2>
				<ul class="taxonomy-list">
					{% for post in service_posts %}
					<li>
						<a href="{{ post.link }}">
							{% if post.get_thumbnail %}
								<img src="{{ post.get_thumbnail.src | resize(64, 64) }}" class="thumbnail" />
							{% endif %}
							<div class="info">
								{{ post.title }}
								<div class="posted-on">
									<span class="fa fa-clock-o"></span> 
									{{ post.date | time_ago }}
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<h2 class="centered-text">Company</h2>
				<ul class="taxonomy-list">
					{% for post in company_posts %}
					<li>
						<a href="{{ post.link }}">
							{% if post.get_thumbnail %}
								<img src="{{ post.get_thumbnail.src | resize(64, 64) }}" class="thumbnail" />
							{% endif %}
							<div class="info">
								{{ post.title }}
								<div class="posted-on">
									<span class="fa fa-clock-o"></span> 
									{{ post.date | time_ago }}
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-2-8">
				<h2 class="centered-text">Blog & News</h2>
				<ul class="taxonomy-list">
					{% for post in blog_posts %}
					<li>
						<a href="{{ post.link }}">
							{% if post.get_thumbnail %}
								<img src="{{ post.get_thumbnail.src | resize(64, 64) }}" class="thumbnail" />
							{% endif %}
							<div class="info">
								{{ post.title }}
								<div class="posted-on">
									<span class="fa fa-clock-o"></span> 
									{{ post.date | time_ago }}
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<section class="article-content">
			<h1 class="screen-reader-text">{{ post.title }}</h1>
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</div><!-- /content-wrapper -->
	<div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
		<button onclick="vm.showAllCitiesPopup();">Discover Services In Your Area</button>
	</div>
	<div type="text/template" id="choose-city-location-vue">
		<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
		<div class="centered-text">
			<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
			<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
		</div>
	</div>

	<div type="text/template" id="choose-service-type-vue">
		<h3 class="emphasized-heading">What type of service are you looking for?</h3>
		<div class="centered-text">
			<button onclick="vm.setChosenType('residential')">Residential</button>
			<button onclick="vm.setChosenType('business')">Business</button>
		</div>
	</div>

	<div type="text/template" id="show-all-cities-vue">
		<h3 class="emphasized-heading">What city do you live in?</h3>
		<div class="centered-text">
			<label class="select-label">
				<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
					<option value="">Choose Your City</option>
					{% for city in cities %}
						<option value="{{city}}">{{city}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
	</div>
{% endblock %}