{% extends "base.twig" %}

{% block hero_content %}
	<div class="header-call-to-action centered-text">
		<h2 class="call-text">Connect with us.</h2>
		<p class="centered-text">
			<a class="button" href="#services">View Pricing &amp; Packages</a>
		</p>
	</div>
	<div class="find-services container">
		<form class="form-wrap" id="find-zip-form" method="GET" action="/">
			<div class="map-icon fa fa-map-marker"></div>
			<input type="number" max="99999" step="1" id="zip-input" inputmode="numberic" placeholder="Zip Code" />
			<div class="button-wrap">
				<button type="submit" id="find-services-button">Find Services</button>
				<span>or</span>
				<button id="show-all-cities">Choose Your City</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block content %}
	<section class="home-slider">
		<div class="slide">
			<img src="{{ site.theme.uri }}/static/images/ipad-hands.jpg" class="slide-image" />
			<div class="slide-content">
				<div class="slide-title">TV Everywhere!</div>
				<p>With WatchTVEverywhere you can enjoy all your shows away from home and the best thing is it's FREE to our Expanded Basic Cable customers.</p>
				<p><img src="{{ site.theme.uri }}/static/images/channels.jpg"></p>
			</div>
		</div>
	</section>
	<section class="home-services">
		<h2 class="section-title">Our Services</h2>
		<div class="container">
			<div class="col-2-8">
				<i class="service-icon fa fa-laptop"></i>
				<h3 class="service-title">Internet</h3>
				<ul class="service-list">
					<li class="service-list-item">High Speed Internet</li>
					<li class="service-list-item">Web Mail Login</li>
					<li class="service-list-item">Edge Wave Email Filtering</li>
					<li class="service-list-item">SecureitPlus &#8482;</li>
					<li class="service-list-item">Test Internet Speed</li>
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-television"></i>
				<h3 class="service-title">Cable</h3>
				<ul class="service-list">
					<li class="service-list-item">Cable TV Service</li>
					<li class="service-list-item">TV Everywhere &#8482;</li>
					<li class="service-list-item">Channel Line Up</li>
					<li class="service-list-item">Synergy Whole Home DVR</li>
					<li class="service-list-item">TV Listings</li>
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-phone"></i>
				<h3 class="service-title">Telephone</h3>
				<ul class="service-list">
					<li class="service-list-item">Telephone Service</li>
					<li class="service-list-item">Telephone Assistance</li>
					<li class="service-list-item">Online Directory</li>
				</ul>
			</div>
			<div class="col-2-8">
				<i class="service-icon fa fa-briefcase"></i>
				<h3 class="service-title">Business Services</h3>
				<ul class="service-list">
					<li class="service-list-item">Fiber Internet</li>
					<li class="service-list-item">Ethernet Transport</li>
					<li class="service-list-item">PRI Telephone</li>
					<li class="service-list-item">Key Systems</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="home-service-hero">
		<h4 class="hero-title-wrap">
			<div class="hero-title">Happily Serving</div>
			<div class="hero-subtitle">65 Years of Service</div>
		</h4>
		<img class="hero-image" src="{{ site.theme.uri }}/static/images/service-hero.png" />
	</div>
	<div class="footer-call-to-action centered-text">
		<h2 class="call-text">Discover services in your area</h2>
		<p class="centered-text">
			<a class="button" href="#services">View Pricing &amp; Packages</a>
		</p>
	</div>

	<div id="results-popup" class="magnific mfp-hide">
		
	</div>

	<div type="text/template" id="choose-service-type">
		<h3>What type of service are you looking for?</h3>
		<button onclick="showCityOptions( 'residential' )">Residential</button>
		<button onclick="showCityOptions( 'business' )">Business</button>
	</div>

	<div type="text/template" id="choose-city-location">
		<h3>Where in <%= cityName %>, KS do you live?</h3>
		<a href="{{ '<%= intown_url %>' }}" class="button">In Town (City Limits)</a>
		<a href="{{ '<%= rural_url %>' }}" class="button">Out of Town</a>
	</div>
	
	<div type="text/template" id="choose-city">
		<h3>What city do you live in?</h3>
		<select onchange="window.cunninghamCurrentCity = this.options[this.selectedIndex].value; window.findCityType();">
			<option value="">Choose Your City</option>
			{% for city in cities %}
				<option value="{{city}}">{{city}}</option>
			{% endfor %}
		</select>
		{# <p>If you live out of your town's city limits, choose the (Rural) option if available.</p> #}
	</div>

{% endblock %}