{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
  {% if post.faq %}
	<div class="container">
		<div class="support-call-to-action-links">
			<a href="{{ post.faq }}">F.A.Q.</a>
			<a href="{{ post.policies }}">Policies</a>
			<a href="{{ post.customer_forms }}">Customer Forms</a>
		</div>
	</div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container content-wrapper">
    {{content}}
  </div><!-- /content-wrapper -->
  <div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
	<button onclick="vm.showAllCitiesPopup();">Discover Services In Your Area</button>
  </div>
  <div type="text/template" id="choose-city-location-vue">
  	<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
  	<div class="centered-text">
  		<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
  		<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
  	</div>
  </div>

  <div type="text/template" id="choose-service-type-vue">
  	<h3 class="emphasized-heading">What type of service are you looking for?</h3>
  	<div class="centered-text">
  		<button onclick="vm.setChosenType('residential')">Residential</button>
  		<button onclick="vm.setChosenType('business')">Business</button>
  	</div>
  </div>

  <div type="text/template" id="show-all-cities-vue">
  	<h3 class="emphasized-heading">What city do you live in?</h3>
  	<div class="centered-text">
  		<label class="select-label">
  			<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
  				<option value="">Choose Your City</option>
  				{% for city in cities %}
  					<option value="{{city}}">{{city}}</option>
  				{% endfor %}
  			</select>
  		</label>
  	</div>
  </div>
{% endblock %}