{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
	<div class="centered-text">
		<button onclick="vm.showAllCitiesPopup();">View Pricing &amp; Packages</button>
	</div>
{% endblock %}

{% block content %}
	<div class="services container">
		<div class="service internet container align-center">
			<div class="col-4-8">
				<h2 class="emphasized-heading inline-block">
					{{ post.internet_service_heading }}
				</h2>
				<div>{{ post.get_field('internet_service_description') }}</div>
			</div>
			<div class="col-4-8">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/R9BItmXrPeE?rel=0" frameborder="0" allowfullscreen></iframe>
				{# <img class="service-image" src="{{ theme.link }}/static/images/laptop.jpg" /> #}
			</div>
		</div>
		<div class="service full-width pr-gradient-overlay cable">
			<div class="container align-center">
				<div class="col-4-8">
					<img class="service-image" src="{{ theme.link }}/static/images/tv.png" />
				</div>
				<div class="col-4-8">
					<h2 class="emphasized-heading inline-block">
						{{ post.cable_service_heading }}
					</h2>
					<div>{{ post.get_field('cable_service_description') }}</div>
				</div>
			</div>
		</div>

		{% if post.tv_now_service_description %}
		<div class="service tv-now container align-center">
			<div class="col-4-8">
				<h2 class="emphasized-heading inline-block">
					{{ post.tv_now_service_heading }}
				</h2>
				<div>{{ post.get_field('tv_now_service_description') }}</div>
			</div>
			<div class="col-4-8">
				<img class="service-image" src="{{ theme.link }}/static/images/tv-now.png" />
			</div>
		</div>
		{% endif %}

		<div class="service phone container align-center">
			<div class="col-4-8">
				<h2 class="emphasized-heading inline-block">
					{{ post.phone_service_heading }}
				</h2>
				<div>{{ post.get_field('phone_service_description') }}</div>
			</div>
			<div class="col-4-8">
				<img class="service-image" src="{{ theme.link }}/static/images/phone.png" />
			</div>
		</div>
	</div>

	<div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
		<div class="find-services container clearfix">
			<div class="form-wrap" id="find-zip-form" method="GET" action="/">
				{# <div class="map-icon fa fa-map-marker"></div> #}
				<div class="mobile-wrapper">
					<div class="select-wrapper">
						<div class="caret-wrapper">
							<select onchange="vm.resetVars(); vm.currentCity = this.options[this.selectedIndex].value;" class="select-city-dropdown">
								<option value="">Choose Your City</option>
								{% for city in cities %}
									<option value="{{city}}">{{city}}</option>
								{% endfor %}
							</select>
							<span class="fa fa-caret-down"></span>
						</div>
					</div>
					<span class="or">or</span>
					<input v-model="zip" @keyup.enter="getCityFromZip" type="text" min="0" max="99999" step="1" id="zip-input" inputmode="numeric" placeholder="Zip Code" />
				</div>
				<div class="button-wrap">
					<button @click="getCityFromZip" id="find-services-button">Find Services</button>
					
					{# <button @click="showAllCitiesPopup" id="show-all-cities">Choose Your City</button> #}
				</div>
			</div>
		</div>
	</div>
	<div type="text/template" id="choose-city-location-vue">
		<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
		<div class="centered-text">
			<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
			<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
		</div>
	</div>

	<div type="text/template" id="choose-service-type-vue">
		<h3 class="emphasized-heading">What type of service are you looking for?</h3>
		<div class="centered-text">
			<button onclick="vm.setChosenType('residential')">Residential</button>
			<button onclick="vm.setChosenType('business')">Business</button>
		</div>
	</div>

	<div type="text/template" id="show-all-cities-vue">
		<h3 class="emphasized-heading">What city do you live in?</h3>
		<div class="centered-text">
			<label class="select-label">
				<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
					<option value="">Choose Your City</option>
					{% for city in cities %}
						<option value="{{city}}">{{city}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
	</div>
{% endblock %}