{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="blog-author">
					<span class="screen-reader-text">Posted On</span>
					<span class="fa fa-clock-o"></span>
					<time>{{ post.date }}</time>
					<span class="byline">by <span class="author">{{ post.author }}</span></span>
					in 
						<ul class="term-list">
							{% for term in post.terms('any') %}
								<li><a href="{{term.link}}">{{term.name}}</a></li>
							{% endfor %} 
						</ul>
				</div>
				
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		{% if post.comment_status != 'closed' %}
			<section class="comments">
				<div class="respond">
					<h3 class="h2 emphasized-heading">Comments</h3>
					{{ function('comment_form') }}
				</div>
				<div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
