{% extends "base.twig" %}

{% block hero_content %}
	<div class="header-call-to-action centered-text">
		<h1 class="article-h1">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="content-wrapper">
	{% if bundles %}
	<div class="bundles-wrap {% if bundles|length < 3 %} space-around {% endif %}">
		{% for bundle in bundles %}
			<div class="bundle-wrapper">

				<div class="bundle-header {% if bundle.coming_soon %} bundle-coming-soon {% endif %}">
					<div class="bundle-name">{{ bundle.name }}</div>
					<div class="bundle-price">
						{% if bundle.coming_soon %}
							Coming Soon
						{% else %}
						${{ bundle.price }}	
						{% endif %}
					</div>
					{% if bundle.coming_soon %}
						<button onclick="showServiceContactFormModal( '{{ bundle.name }}');" class="bundle-cta"><span class="fa fa-arrow-right"></span><span class="screen-reader-text">Choose this Bundle</span></button>
					{% else %}
						<button onclick="showServiceContactFormModal( '{{ bundle.name }} - ${{ bundle.price }}');" class="bundle-cta"><span class="fa fa-arrow-right"></span><span class="screen-reader-text">Choose this Bundle</span></button>
					{% endif %}
				</div>

				{% if not bundle.coming_soon %}
				<div class="bundle-savings">
					<div class="monthly-savings">
						${{ bundle.monthly_savings }}
						<div class="savings-description">Monthly Savings</div>
					</div>
					<div class="annual-savings">
						${{ bundle.annual_savings }}
						<div class="savings-description">Annual Savings</div>
					</div>
				</div>
				{% endif %}

				<div class="bundle-services">
					{% for service in bundle.services %}
						<div class="service-wrapper">
							<span class="bundle-icon fa {{ service.icon }}"></span>
							<ul class="bundle-details">
								{% for detail in service.details %}
									<li>
										<div class="detail-title">{{ detail.title }}</div>
										<div class="detail-description">{{ detail.description }}</div>
									</li>
								{% endfor %}{# end detail #}
							</ul>
						</div>
					{% endfor %}{# end service #}
				</div>

			</div>
		{% endfor %}{# end bundle #}
	</div>
	{% endif %}{# if bundles #}

	<div class="services clearfix">

		<div class="tabs">
			{% if cable_options %}
				<a href="#" class="tab-switch active-tab" data-tab-target="tv">Cable</a>
			{% endif %}
			{% if tv_now_options %}
				<a href="#" class="tab-switch" data-tab-target="tv-now">TV Now</a>
			{% endif %}
			{% if internet_options %}
				<a href="#" class="tab-switch" data-tab-target="internet">Internet</a>
			{% endif %}
			{% if phone_options %}
				<a href="#" class="tab-switch" data-tab-target="phone">Telephone</a>
			{% endif %}
		</div>

		{% if cable_options %}
		<div class="tv tab-content" data-tab="tv">
			<div class="service">
				<img class="pull-left tab-image cable" src="{{ theme.link }}/static/images/tv.jpg" />
				<div class="inner-wrap">
					<h2 class="emphasized-heading inline-block">Cable</h2>
					<div class="tiers">
						{% for tier in cable_options %}
							<div class="tier {% if tier.featured %} featured {% endif %}">
								<div class="tier-title">
									{{ tier.name }}
									<div class="sub-title">{{ tier.sub_title }}</div>
								</div>
								<div class="tier-price">${{ tier.price }}</div>
								<div class="tier-extras">{{ tier.extra_info|wpautop }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if tv_now_options %}
		<div class="tv tab-content" data-tab="tv-now" style="display: none;">
			<div class="service">
				<img class="pull-left tab-image tv-now" src="{{ theme.link }}/static/images/tv-now-large.png" />
				<div class="inner-wrap">
					<h2 class="emphasized-heading inline-block">
						TV Now
						{% if post.get_field('tv_now_coming_soon') %}
							(Coming Soon)
						{% endif %}
					</h2>
					<div class="tiers">
						{% for tier in tv_now_options %}
							<div class="tier {% if tier.featured %} featured {% endif %}">
								<div class="tier-title">
									{{ tier.name }}
									<div class="sub-title">{{ tier.sub_title }}</div>
								</div>
								{% if not post.get_field('tv_now_coming_soon') %}
									{% if tier.price %}
										<div class="tier-price">${{ tier.price }}*</div>
									{% endif %}
								{% endif %}
								<div class="tier-extras">{{ tier.extra_info|wpautop }}</div>
							</div>
						{% endfor %}
					</div>
					<p>* TV Now requires at least Supreme package internet. To subscribe to TV Now sign up for one of our TV Now bundles.</p>
				</div>
			</div>
		</div>
		{% endif %}

		{% if internet_options %}
		<div class="internet tab-content" data-tab="internet" style="display: none;">
			<div class="service">
				<img class="pull-left tab-image internet" src="{{ theme.link }}/static/images/laptop.jpg" />
				<div class="inner-wrap">
					<h2 class="emphasized-heading inline-block">High Speed Internet</h2>
					<div class="tiers">
						{% for tier in internet_options %}
							<div class="tier {% if tier.featured %} featured {% endif %}">
								<div class="tier-title">
									{{ tier.name }}
									<div class="sub-title">{{ tier.sub_title }}</div>
								</div>
								<div class="tier-price">${{ tier.price }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if phone_options %}
		<div class="phone tab-content" data-tab="phone" style="display: none;">
			<div class="service">
				<img class="pull-left tab-image phone" src="{{ theme.link }}/static/images/phone.png" />
				<div class="inner-wrap">
					<h2 class="emphasized-heading inline-block">Telephone</h2>
					<div class="tiers">
						{% for tier in phone_options %}
							<div class="tier {% if tier.featured %} featured {% endif %}">
								<div class="tier-title">
									{{ tier.name }}
									<div class="sub-title">{{ tier.sub_title }}</div>
								</div>
								<div class="tier-price">${{ tier.price }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

	</div>

	<h2 class="centered-text">Sign Up Today</h2>

	<div class="centered-text city-cta-buttons">
		<a href="tel:18002878495" class="button">Call Us: 1 (800) 287-8495</a>
		<button class="trigger-service-contact-form" onclick="showServiceContactFormModal();">We'll Call You</button>
		{% if post.order_download %}
			<a class="button" href='{{ post.get_field('order_download') }}' download>Download the Order Form</a>
		{% endif %}
	</div>

	<div type="text/template" id="service-contact-form">
		{{ function('cunningham_render_service_contact_form') }}
	</div>

</div><!-- /content-wrapper -->
{% endblock %}