{% extends "tease.twig" %}

{% block content %}
	<h2 class="emphasized-heading"><a href="{{post.link}}">{{post.title}}</a></h2>
		<div>
			<span class="screen-reader-text">Posted On</span>
			<span class="fa fa-clock-o"></span>
			<time>{{ post.date }}</time>
			<span class="byline">by <span class="author">{{ post.author }}</span></span>
			<span class="categories">in 
				<ul class="term-list">
				    {% for term in post.terms('any') %}
				        <li><a href="{{term.link}}">{{term.name}}</a></li>
				    {% endfor %} 
				</ul>
			</span>
		</div>
		<p>{{post.get_preview(25)}}</p>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
{% endblock %}