{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="screen-reader-text">{{ post.title }}</h1>
				<div class="article-body">
					{{post.content}}

					<p class="centered-text tabs">
						<a href="#" class="tab-switch active-tab" data-tab-target="protect">Tech Home Protect</a>
						<a href="#" class="tab-switch" data-tab-target="support">Tech Home Support</a>
					</p>

					<div class="tv tab-content" data-tab="protect">
						{{ post.get_field('protect') }}
					</div>

					<div class="tv tab-content" data-tab="support">
						{{ post.get_field('support') }}
					</div>

				</div>
				<div class="device-support">
					<h3 class="emphasized-heading">Device Support</h3>
					<table>
						<thead>
							<tr>
								<th><img src="{{ site.theme.link }}/static/images/android_logo.jpg" />Android</th>
								<th><img src="{{ site.theme.link }}/static/images/apple_logo.jpg" />iOS</th>
								<th><img src="{{ site.theme.link }}/static/images/windows_logo.jpg" />Windows</th>
								<th><img src="{{ site.theme.link }}/static/images/apple_logo.jpg" />Mac</th>
								<th>Browser Support</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ post.get_field('android') }}</td>
								<td>{{ post.get_field('ios') }}</td>
								<td>{{ post.get_field('windows') }}</td>
								<td>{{ post.get_field('mac') }}</td>
								<td>{{ post.get_field('browser') }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
	<div class="footer-call-to-action centered-text full-width pr-gradient-overlay">
		<button onclick="vm.showAllCitiesPopup();">Discover Services In Your Area</button>
	</div>
	<div type="text/template" id="choose-city-location-vue">
		<h3 class="emphasized-heading">Where in {{ '{{ currentCity }}' }}, KS do you live?</h3>
		<div class="centered-text">
			<a v-bind:href="intownUrl" id="intownUrl" class="button">In Town (City Limits)</a>
			<a v-bind:href="ruralUrl" id="ruralUrl" class="button">Out of Town</a>
		</div>
	</div>

	<div type="text/template" id="choose-service-type-vue">
		<h3 class="emphasized-heading">What type of service are you looking for?</h3>
		<div class="centered-text">
			<button onclick="vm.setChosenType('residential')">Residential</button>
			<button onclick="vm.setChosenType('business')">Business</button>
		</div>
	</div>

	<div type="text/template" id="show-all-cities-vue">
		<h3 class="emphasized-heading">What city do you live in?</h3>
		<div class="centered-text">
			<label class="select-label">
				<select onchange="vm.currentCity = this.options[this.selectedIndex].value;">
					<option value="">Choose Your City</option>
					{% for city in cities %}
						<option value="{{city}}">{{city}}</option>
					{% endfor %}
				</select>
			</label>
		</div>
	</div>
{% endblock %}