{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<h1 class="screen-reader-text">{{ post.title }}</h1>
		<div class="article-body">
            <div class="tv-now-hero-image-container">
                <img class="tv-now-hero-tv" src="{{ theme.link }}/static/images/tv-now.png" />
            </div>

            <div class="tv-now-info-sections">
                {% for section in post.get_field('tv_now_info_sections') %}
                    <div class="service tv-now-info-section container align-center">
                        <div class="col-4-8 tv-now-info-section__content">
                            <h2 class="emphasized-heading inline-block">
                                {{ section.title }}
                            </h2>
                            <div>{{ section.description }}</div>
                        </div>
                        <div class="col-4-8 tv-now-info-section__image">
                            <img src="{{ TimberImage(section.image).src('large') }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="tv-now-streaming-devices">
                <h2 class="centered-text">Use your own streaming device.</h2>
                <div class="tv-now-streaming-devices__images">
                    {% for image in post.get_field('streaming_devices') %}
                        <div class="tv-now-streaming-devices__images-wrapper">
                            <img class="block" src="{{ TimberImage(image.device_image).src('xlarge') }}" />
                            {% if image.more_info_link %}
                                <a href="{{ image.more_info_link }}">More Info</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <p class="centered-text">
                    <a href="{{ post.get_field('streaming_devices_list_link') }}" class="button">View All Supported Devices</a>
                </p>
            </div>

            <div class="services tv-now-tiers">
                {% if tv_now_options %}
                    <div class="tv tab-content" data-tab="tv-now">
                        <div class="service">
                            <img class="pull-left tab-image tv-now" src="{{ theme.link }}/static/images/tv-now-large.png" />
                            <div class="inner-wrap">
                                <h2 class="emphasized-heading inline-block">
                                    TV Now
                                </h2>
                                <div class="tiers">
                                    {% for tier in tv_now_options %}
                                        <div class="tier {% if tier.featured %} featured {% endif %}">
                                            <div class="tier-title">
                                                {{ tier.name }}
                                                <div class="sub-title">{{ tier.sub_title }}</div>
                                            </div>
                                            {% if tier.price %}
                                                <div class="tier-price">${{ tier.price }}*</div>
                                            {% endif %}
                                            <div class="tier-extras">{{ tier.extra_info|wpautop }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            <p>* TV Now requires at least Supreme package internet. To subscribe to TV Now sign up for one of our TV Now bundles.</p>
                            </div>

                        </div>
                    </div>
                    {% endif %}
            </div>

            
		</div>

        <h2 class="centered-text">Sign Up Today</h2>

        <div class="centered-text city-cta-buttons">
            <a href="tel:18002878495" class="button">Call Us: 1 (800) 287-8495</a>
            <button class="trigger-service-contact-form" onclick="showServiceContactFormModal();">We'll Call You</button>
            {% if post.order_download %}
                <a class="button" href='{{ post.get_field('order_download') }}' download>Download the Order Form</a>
            {% endif %}
        </div>

        <div type="text/template" id="service-contact-form">
            {{ function('cunningham_render_service_contact_form') }}
        </div>
        <p class="centered-text mb-8">Not seeing what you're looking for? Call for more options.</p>

        <div class="tv-now-faq">
            <h1 class="emphasized-heading">Frequently Asked Questions</h1>
            {% for faq in post.get_field('tv_now_faq') %}
                <div class="tv-now-faq__section">
                    <h4>{{ faq.question }}</h4>
                    <div>{{ faq.answer }}</div>
                </div>
            {% endfor %}
        </div>

	</div><!-- /content-wrapper -->
{% endblock %}