{% extends "base.twig" %}

{% block hero_content %}
	<div class="article-h1" aria-hidden="true">{{post.title}}</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<h1 class="screen-reader-text">{{ post.title }}</h1>
		<div class="article-body">
			{{post.content}}
			<div class="tv-everywhere-nav" role="navigation">
				<h2 class="nav-title">Choose Your Perfect Channel</h2>
				<hr/>
				<div class="links-wrapper">
					<a href="#" class="tab-switch active-tab" data-tab-target="channels">View Channels</a>
					<a href="#" class="tab-switch" data-tab-target="how-to">How To</a>
					<a href="#" class="tab-switch" data-tab-target="channel-lineup">Download Channel Lineup</a>
					<a href="https://www.watchtveverywhere.com/register.php?s=cun010">TVEverywhere.com</a>
				</div>
			</div>

			<div id="watch-tv-everywhere" class="container">

				<div class="channel-wrapper tab-content" data-tab="channels">
				{% for channel in channels %}
					<article class="channel">
						<a href="#" data-mfp-src="#channel-template-{{ channel.ID }}" class="open-popup-link">
							<img src="{{ channel.thumbnail.src }}" alt="{{ channel.title }} Logo">
							<div type="text/template" id="channel-template-{{ channel.ID }}" class="magnific mfp-hide channel-template">
								<h2 class="screen-reader-text">{{ channel.title }}</h2>
								<div class="container align-center">
									<div class="col-4-8 centered-text">
										<img src="{{ channel.thumbnail.src }}" alt="{{ channel.title }} Logo">
									</div>
									<div class="col-4-8">
										{{ channel.content }}
									</div>
								</div>
								<div class="centered-text platform-links">
									{% if channel.itunes_url %}
										<a class="button" href="{{ channel.itunes_url }}"><i class="fa fa-apple"></i></a>
									{% endif %}
									{% if channel.android_url %}
										<a class="button" href="{{ channel.android_url }}"><i class="fa fa-android"></i></a>
									{% endif %}
									{% if channel.website_url %}
										<a class="button" href="{{ channel.website_url }}"><i class="fa fa-laptop"></i></a>
									{% endif %}
								</div>
							</div>
						</a>
					</article>
				{% endfor %}
				</div>

				<div class="how-to-wrapper tab-content article-wrapper" data-tab="how-to" style="display: none;">
					{{ post.get_field('how_to') }}
				</div>

				<div class="how-to-wrapper tab-content article-wrapper" data-tab="channel-lineup" style="display: none;">
					{{ post.get_field('download_lineup') }}
				</div>

			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}