.page-template-about-us {

	.meet-team-heading {
		margin-top: 2em;
	}

	.employee-list {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li + li {
			margin-top: 1em;
		}

		.name {
			font-weight: 700;
		}
	}

	.group-photo {
		width: 100%;
		height: auto;
		display: block;
	}

	.tab-content {
		margin-top: 2em;
		margin-bottom: 4em;
	}

	.tabs {
		margin-top: 4em;
		text-align: center;
		border-bottom: 1px solid $light-grey;

		.tab-switch {
			display: inline-block;
			border-color: $white;
			position: relative;
			border-width: 4px;

			@media screen and (min-width: 600px){
				font-size: 1.5em;
			}

			& + .tab-switch {
				margin-left: 2em;
			}

			&.active-tab {
				border-color: $light-red;
			}

			&:hover {
				// margin-top: -4px;
				// border-width: 4px;
				border-color: $light-red;
			}
		}
	}

	.content-wrapper .location {
		margin-bottom: 2em;

		.location-name {
			font-weight: 700;
		}
	}

	.locations-wrap {
		margin-top: 4em;
	}
}