.blog, .archive {
	#content {
		margin-top: 2em;
	}
}

.tease {
	border: 1px solid $light-grey;
	box-shadow: 0 4px 8px rgba( $black, .36 );
	padding: 1em;
	
	+ .tease {
		margin-top: 4em;
	}

	.emphasized-heading a {
		border: none;
	}
}

.term-list {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

.tool-pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.tool-pagination:empty {
	display: none;
}