.single.single-residential_city, .single.single-business_city {
	#header {
		padding-bottom: 12em;
	}
}

.bundles-wrap {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: -12em;
	margin-bottom: 4em;
	position: relative;
	z-index: 10;
	flex-wrap: wrap;

	@media screen and (min-width: 600px){
		justify-content: space-between;
		flex-wrap: nowrap;

		&.space-around {
			justify-content: space-around;
		}
	}

	@media screen and (min-width: 1200px){
		margin-left: -6em;
		margin-right: -6em;
	}

	.bundle-wrapper {
		background: $white;
		width: 95%;
		border-radius: .5em;
		// border: 1px solid $light-grey;
		box-shadow: 0 4px 8px rgba( $black, .36 );
		box-shadow: 0 1em 38px rgba( $black, .36 );
		overflow: hidden;
		padding-bottom: 1em;
		margin-bottom: 2em;
		margin-left: 1em;
		margin-right: 1em;

		@media screen and (min-width: 600px){
			// width: 30%;
			margin-bottom: 0;
		}
	}
}

.bundle-header {
	background: linear-gradient( 145deg, $light-red, $darker-red );
	color: $white;
	text-align: center;
	padding: 1em .5em;
	font-family: $font-heading;
	text-transform: uppercase;
	position: relative;

	&.bundle-coming-soon {
		background: lighten($light-grey, 20%);
		color: $black;

		.bundle-price {
			font-size: 2.5em;
			line-height: 1;
			padding: .55em 0;
		}

		+ .bundle-services .service-wrapper:first-child {
			border-top: none;
		}
	}

	.bundle-cta {
		position: absolute;
		right: 1em;
		bottom: -3em;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		padding: 0;
		background: $white;
		color: $light-red;
		text-align: center;

		.fa {
			font-size: 1.25em;
			text-indent: 2px;
		}
	}

	.bundle-price {
		font-size: 4vw;
		font-weight: 300;

		@media screen and (min-width: 800px){
			font-size: 3.5em;
		}
	}
}

.bundle-savings {
	display: block;
	justify-content: space-between;
	text-align: center;
	font-family: $font-heading;
	padding: 1.5em 1em 1em;
	font-size: 1.5em;
	color: $light-grey;

	.savings-description {
		font-size: .5em;
		margin-bottom: 1em;
	}

	@media screen and (min-width: 800px){
		display: flex;

		.savings-description {
			margin-bottom: 0;
		}
	}

}

.bundle-services {
	padding: 0 1em;

	.service-wrapper {
		margin-top: .5em;
		border-top: 1px solid $light-grey;
		padding-top: .5em;
	}
}


.bundle-icon {
	font-size: 4em;
	margin: 0 .25em;
	width: 25%;
	text-align: center;
	display: none;
	color: $light-red;

	@media screen and (min-width: 800px){
		display: block;
	}
}

.service-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bundle-details {
	width: 75%;
	list-style: none;
	padding: 0;
	margin: 1em 0;

	li + li {
		margin-top: 1.5em;
	}

	.detail-title {
		text-transform: uppercase;
		color: $light-grey;
		font-size: .75em;
	}
}

.services {
	margin-top: 4em;
	margin-bottom: 4em;

	.tabs {
		text-align: center;
		border-bottom: 1px solid $light-grey;

		.tab-switch {
			display: inline-block;
			border-color: $white;
			position: relative;
			border-width: 4px;

			@media screen and (min-width: 600px){
				font-size: 1.5em;
			}

			& + .tab-switch {
				margin-left: 2em;
			}

			&.active-tab {
				border-color: $light-red;
			}

			&:hover {
				// margin-top: -4px;
				// border-width: 4px;
				border-color: $light-red;
			}
		}
	}

	.service {

		.tab-image {
			display: none;
			width: 100%;
			height: auto;
			@media screen and (min-width: 600px){
				display: block;
			}

			&.phone {
				max-width: 50%;
				margin-left: 0;
			}

			&.cable {
				margin-top: 2em;
			}

			&.internet {
				width: 60%;
				margin-left: -10%;
			}
		}

		.pull-left {
			margin-left: -50%;
			float: left;
			padding-right: 6em;
		}

		.inner-wrap {
			@media screen and (min-width: 600px){
				width: 50%;
				margin-left: auto;
			}
		}

		.emphasized-heading {
			font-size: 2.5em;
			font-weight: 400;
		}

		.tier {
			position: relative;
			font-family: $font-heading;
			padding: 2em 2em;
			border-radius: .5em;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			background: rgba( $light-grey, .25 );

			+ .tier {
				margin-top: 2em;
			}

			.tier-price {
				font-size: 2em;
			}

			.tier-title {
				font-size: 1.5em;
				line-height: 1.25;
				max-width: 16em;

				.sub-title {
					font-size: .75em;
					color: $light-grey;
				}
			}

			.tier-extras {
				width: 100%;
			}

			&.featured {
				padding-top: 2.5em;

				&:after {
					font-size: .75em;
					line-height: 1;
					text-transform: uppercase;
					content: "Most Popular";
					position: absolute;
					left: 0;
					top: 1em;
					padding: .5em 1.5em .25em 2em;
					border-radius: 0 1em 1em 0;
					background: $light-red;
					color: $white;
				}
			}
		}
	}
}
.city-cta-buttons {
	a, button {
		display: block;
		width: 100%;

		@media screen and (min-width: 600px){
			display: inline-block;
			width: auto;
			margin-left: 1em;
			margin-right: 1em;
		}
	}
}