#footer {
	background: $dark-grey;
	color: $white;
	padding: 2em 1em;
	margin-top: 2em;

	a {
		color: $white;
		text-decoration: none;
		border: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.site-info {

		.social-icons {

			.fa {
				font-size: 1.25em;
				background: $white;
				width: 1.25em;
				height: 1.25em;
				display: inline-flex;
				align-items: center;
				color: $dark-grey;
				justify-content: center;
				border: none;

				+ .fa {
					margin-left: .5em;
				}

				&:hover {
					text-decoration: none;
					color: $white;
					background: $light-red;
				}

				&-facebook-official {
					text-indent: 1px;
				}
			}
		}
	}

	.locations-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.location {
			flex: 0 1 48%;
			// max-width: 45%;
			font-size: 75%;

			&:nth-child(2n + 4), &:nth-child(2n+3){
				margin-top: 1rem;
			}

			&-name {
				font-weight: 700;
				font-size: 100%;
			}

			address {
				font-style: normal;
			}
		}
	}

	.featured-title {
		text-transform: uppercase;
		border-left: 4px solid $light-red;
		padding-left: .5em;
		letter-spacing: 2px;
		margin: 0 0 1em;
		font-size: 1em;
	}

	.service-links, .account-links {
		flex: 0 1 45%;
		font-size: 75%;

		.menu-title {
			margin: 0;
			font-size: 100%;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			color: $light-grey;
		}
	}

	.helpful-links {
		display: flex;
		justify-content: space-between;
	}
}

.copyright-text {
	color: $light-grey;
	font-size: .75em;
	// text-align: center;
}

@media screen and (max-width: 480px){
	#footer .container {
		display: flex;
		flex-direction: column;

		.site-info {
			order: 100;

			.logo {
				max-width: 10em;
			}
		}
	}
}

.footer-call-to-action {
	.call-text {
		font-weight: 300;
		font-size: 2.5em;
	}

	margin-top: 1.5em;
	color: $white;
	background-image: url('static/images/map.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding-top: 2em;
	padding-bottom: 2em;

	.find-services {
		margin: 3em 0;
	}
}

.agency {
	font-size: .5em;
	color: $light-grey;
	padding: 4em 0 0;
	text-align: left;
}