/*  COLUMN SETUP  */
body [class*="col-"] {
	display: block;
	float:left;
	margin: 0 0 0 2%;

	&:first-child { margin-left: 0; }
}

.col-8-8 {
	width: 100%;
}

.col-7-8 {
  	width: 87.25%;
}

.col-6-8 {
  	width: 74.5%;
}

.col-5-8 {
  	width: 61.75%;
}

.col-4-8 {
  	width: 49%;
}

.col-3-8 {
  	width: 36.25%;
}

.col-2-8 {
  	width: 23.5%;
}

.col-1-8 {
  	width: 10.75%;
}

.col-1-3 {
	width: 32%;
}

.col-2-3 {
	width: 66%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	body [class*="col-"] {  margin: 0 0 1.5em; }
	.col-1-8, .col-2-8, .col-3-8, .col-4-8, .col-5-8, .col-6-8, .col-7-8, .col-8-8, .col-1-3, .col-2-3 { width: 100%; }
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	// padding-left: 1em;
	// padding-right: 1em;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}