#header {
	background-color: $dark-grey;
	font-family: $font-heading;
	padding-top: 2em;
	padding-bottom: 2em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&.has-bg-image {
		@extend .pr-gradient-overlay;
	}

	.hdr-logo {
		display: block;
		background-image: url('static/images/logo.png');
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		height: 2em;
		top: -2.5em;

		@media screen and (min-width: 860px){
			top: initial;
			height: 3em;
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			border: none;
		}
	}

	#menu-toggle {
		display: none;
		margin-left: auto;
		background: none;
		font-size: 1.5em;
		padding: 0;
		border-radius: 0;
		margin: 0 0 .25em auto;
		box-shadow: none;
		width: 50%;
		text-align: right;
		position: relative;
		z-index: 1000;
		padding-bottom: 1em;
		outline: none;
		@media screen and (max-width: 860px){
			display: block;
		}
	}

	.straight-nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			align-items: center;
		}

		li {

			+ li {
				margin-left: 2em;
			}
			
			a {
				color: $white;
				text-decoration: none;
				font-weight: 400;
				border-bottom: 0px solid $light-red;
				transition: border-bottom 100ms linear;
				
				&:hover {
					border-bottom: 4px solid $light-red;
				}
			}

			&.current-menu-item a {
				border-bottom: 4px solid $light-red;
			}
		}
	}

	#menu-main-menu {
		text-transform: uppercase;

		li:last-child a {
			@extend .button;
			margin-top: 0;
			margin-bottom: 0;
			vertical-align: center;
			border-bottom: none !important;
		}
	}

	#menu-secondary-menu {
		font-size: .75em;
		margin-bottom: 2em;
	}

	.nav-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	@media screen and (max-width: 860px){

		.wrapper.container {
			display: block;

			[class*="col-"] {
				width: 100%;
				float: none;
				margin: 0;
			}

			.nav-wrapper {
				width: 100%;
			}
		}
		
	}
}

@media screen and ( max-width: 860px ){
	#header .nav-wrapper {
		display: none;

		ul {
			display: block;
			margin: 0;
			padding: 0;
		}

		.straight-nav li {
			display: block;
			margin: 0;

			a {
				border-color: $white;
				&:hover {
					border-color: $white;
				}
			}
		}

		#nav-main {
			border-bottom: 1px solid $dark-grey;
			margin-bottom: 2em;

			ul {
				display: flex;
				align-items: flex-start;
				flex-direction: column;

				li {
					margin-bottom: 1.5em;
				}

				li:last-child {
					order: -1;
					margin-bottom: 1.5em;

					a {
						background: $white;
						color: $darker-red;
					}
				}
			}
		}

		#nav-secondary {
			li + li {
				margin-top: 1.5em;
			}
		}

	}

	#header.nav-open {
		display: block;
		background: linear-gradient( to bottom, $light-red, $darker-red ) !important;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		
		.hdr-logo {
			display: none;
		}
		
		> *:not(.show-in-menu){
			display: none;
		}

	}

	#header.nav-open .nav-wrapper {
		display: block;
	}
}