.home {
	#header {
		background: linear-gradient( 145deg, rgba( $purple, .5 ), rgba( $light-red, .5 ) ),
					url("static/images/home-banner.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

	}

	.header-call-to-action {
		.call-text {
			color: $white;
			font-size: 10vw;
			font-weight: 300;

			@media screen and (min-width: 1080px){
				font-size: 5vw;
			}
		}
	}

	#content {
		margin-top: 8em;
	}
	
	.find-services {
		.form-wrap {
			top: 4em;
			top: 5em; // fatter bar

			@media screen and (max-width: 899px){
				top: 6.5em;
			}

			@media screen and (max-width: 544px){
				top: 7em;
			}
		}
	}

	.home-services {
		// background: orange;
		// min-height: 400px;
		padding: 2em 1em 5em;
		color: $white;
		position: relative;
		background: url( "static/images/service-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border-radius: .5rem;
		overflow: hidden;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient( 145deg, rgba( $purple, .85 ), rgba( $light-red, .85 ) );
			opacity: .85;
		}

		.container .col-2-8 {

			position: relative;

			// &:last-child {

			// 	> ul {
			// 		margin-left: 1.5em;
			// 	}

			// 	&:before {
			// 		content: '';
			// 		width: 1px;
			// 		background: $white;
			// 		position: absolute;
			// 		top: 0;
			// 		bottom: 0;
			// 		left: 0;
			// 		display: block;
			// 	}

			// }

		}

		.section-title {
			font-size: 2em;
			text-align: center;
			position: relative;
			font-weight: 400;
			margin: 0 0 2em;
			font-weight: 400;
		}

		.service-icon {
			display: block;
			font-size: 4em;
			text-align: center;
		}

		.service-title {
			text-align: center;
			font-size: 1.25em;
			font-weight: 400;

			@media screen and (min-width: 900px){
				font-size: 1.5em;
			}
		}

		.service-list {
			list-style: none;
			margin: 0;
			padding: 0;
			border-top: 2px solid $white;

			li {
				padding: .5em 1em;

				+ li {
					border-top: 1px dotted $white;
				}
			}

			a {
				color: $white;
				border: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.home-service-hero {
		position: relative;
		text-align: center;
		pointer-events: none;

		@media screen and (min-width: 900px){
			top: -8rem;
		}
	
		.hero-title-wrap {
			font-weight: 400;
			
			margin: 2em auto 0;
			display: inline-block;
			top: 14rem;
			right: 6rem;
			font-size: 150%;
			@media screen and (min-width: 600px){
				position: absolute;
				margin: 0;
				right: 2rem;
				top: 4rem;
				font-size: 120%;
			}

			@media screen and (min-width: 900px){
				position: absolute;
				margin: 0;
				right: 6rem;
				top: 14rem;
				font-size: 150%;
			}
		}

		.hero-title {
			border-left: 4px solid $light-red;
			line-height: 1;
			padding-left: .25rem;
			font-size: 2em;
			text-align: left;
		}

		.hero-subtitle {
			font-size: 1.25em;
			padding-left: calc( .25rem + 4px );
			text-align: left;
		}

		.hero-image {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	}

	#footer {
		// margin-top: 0;
	}
}