.page-template-info-hub {
	
	.featured-post {
		display: block;
		align-items: flex-start;
		margin-top: 4em;

		@media screen and (min-width: 700px){
			display: flex;

			h1 {
				margin-top: 0;
			}
		}

		.featured-image {
			width: 100%;
			flex: 1 0 50%;
			
			@media screen and (min-width: 700px){
				width: 50%;
				margin-right: 2em;
			}
		}
	}

	.sub-features {
		margin-top: 4em;
		margin-bottom: 4em;

		@media screen and (max-width:900px) and (min-width: 481px){
			.col-2-8 {
				width: 48%;

				&:nth-child(3){
					margin-left: 0;
				}
			}
		}
	}

	.taxonomy-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li > a {
			display: flex;
			border: none;
			font-weight: 700;
			align-items: center;
		}

		.posted-on {
			font-weight: 400;
		}

		li + li {
			margin-top: 2em;
		}

		.thumbnail {
			flex: 1 0 4em;
			margin-right: 1em;
			max-width: 4em;
		}
	}
}

