#kbe_container {
	width: 100%;
	margin-top: 8em;
}

#kbe_content h2 span.kbe_count {
	background: linear-gradient( 145deg, $light-red, $darker-red );
	background: $light-grey;
}

.kbe_category {

	h2 a {
		border-bottom: none;
		// border-left: 4px solid $light-red;
		// padding-left: .5em;
	}
}

#kbe_container .kbe_widget {
	clear: both;

	h2 {
		// border-left: 4px solid $light-red;
		// padding-left: .5em;
		padding-bottom: 0 !important; // overwrite plugin use of !important
		// margin-bottom: 0 !important; // overwrite plugin use of !important
		border-bottom: none;
	}

	ul {
		border-top: 1px solid #ccc;
		padding-top: 1em;
	}

	li {
		padding: 0;
		background: none;
	}
}

#kbe_content .kbe_leftcol .kbe_article_list li {
	background-position: left center;
}

.post-type-archive-kbe_knowledgebase {
	#kbe_content > h1 {
		display: none;
	}

	.kbe_widget {
		display: none;
	}
}

.archive, .single, .page {
	.footer-call-to-action {
		padding-top: 4em;
		padding-bottom: 4em;
		margin-bottom: -2em;
	}
}
#kbe_content .kbe_leftcol a {
	color: inherit;
}

#kbe_content .kbe_leftcol a.button {
	color: $white;
}

#kbe_content .kbe_leftcol p {
	line-height: inherit;
	font-size: inherit;
}

.support-call-to-action-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: -7em; // +1em for mobile margins from buttons
	margin-top: 2em;
	position: relative;
	z-index: 10;

	@media screen and (min-width: 600px){
		flex-direction: row;
	}
	
	a {
		display: block;
		color: $white;
		border: none;
		text-transform: uppercase;
		font-size: 1.5em;
		padding: 2em 1em;
		background: linear-gradient( 145deg, $light-red, $darker-red );
		width: 100%;
		border-radius: .25em;
		box-shadow: 0 4px 8px rgba( $black, .36 );
		line-height: 1;
		vertical-align: middle;
		margin-bottom: 1em;

		@media screen and (min-width: 600px){
			max-width: 30%;
		}

		&:hover {
			box-shadow: 0 4px 8px rgba( $black, .72 );
		}
	}
}
#kbe_content .kbe_leftcol{

	.gform_wrapper {
		span {
			display: inline-block;
			padding: inherit;
			margin-bottom: inherit;
		}	

		.gform_fields {
		 	list-style: none;
		 	padding: 0;
		}

		@media only screen and (min-width: 641px){
			div.ginput_container_name span, .ginput_complex .ginput_left, .ginput_complex .ginput_right {
				display: -moz-inline-stack;
				display: inline-block;
				vertical-align: top;
				padding-right: 16px;
				margin-right: -4px;
			}
		}
	}
}
