
.find-services {

	.form-wrap {
		background: $white;
		overflow: hidden;
		display: flex;
		align-items: center;
		border-radius: .25em;
		max-width: 90%;
		margin: 0 auto;
		position: relative;
		// top: 4em;
		border: 1px solid $light-grey;
		box-shadow: 0 1em 38px rgba( $black, .36 );
		align-items: stretch;

		@media screen and (max-width: 440px){
			font-size: 3vw;
		}

		// @media screen and (max-width: 544px){
		// 	top: 7em;
		// }

		::-webkit-input-placeholder {
		   color: $light-grey;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $light-grey;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $light-grey;  
		}

		:-ms-input-placeholder {  
		   color: $light-grey;  
		}

		.map-icon {
			background: linear-gradient( 145deg, $light-red, $darker-red );
			color: $white;
			font-size: 2em;
			padding: .5em .75em;

			@media screen and (max-width: 544px){
				padding: 1.75em .75em;
			}
		}

		.mobile-wrapper {
			display: flex;
			flex-direction: column;
			width: 70%;
			flex: 0 0 70%;
			justify-content: space-around;

			.select-wrapper {
				width: 100%;

				select {
					padding-left: .25em;
				}
			}

			#zip-input {
				width: 100%;
				padding-left: .25em;
			}

			@media screen and (min-width: 900px){
				flex-direction: row;
				align-items: center;

				.select-wrapper {
					width: 60%;

					select {
						padding-left: 1em;
					}
				}

				#zip-input {
					width: 35%;
					padding-left: 1em;
				}
			}
		}

		#zip-input {
			width: 35%;
			padding: 0 .25em 0 1em;
			font-size: 1em;
			border: none;
			color: $light-grey;
			outline: none;
			line-height: 4;

			@media screen and (min-width: 900px){
				line-height: 4;
			}

			@media screen and (max-width: 544px){
				padding: 0 .25em;
			}
		}

		.select-wrapper {
			position: relative;
			width: 50%;

			.caret-wrapper {
				position: relative;
			}

			.fa-caret-down {
				color: $light-red;
				position: absolute;
				top: 50%;
				right: 1em;
				transform: translateY(-50%);
				pointer-events: none;
			}
		}
		.select-city-dropdown{
			padding: .25em 1em .25em 1em;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #fff;
			border: none;
			color: rgba( $light-grey, .6 );
			font-size: 1em;
			width: 100%;
			outline: none;
			line-height: 4;
			
			@media screen and (min-width: 900px){
				line-height: 4;
			}

			option {
				color: $light-grey;
			}
		}

		.or {
			position: relative;
			display: block;
			z-index: 1;
			color: $light-grey;
			line-height: 1;
			width: 1em;
			left: 2em;

			&:before {
				content: '';
				width: 1em;
				height: 1px;
				background: $light-grey;
				position: absolute;
				top: 50%;
				// transform: translateY(-50%);
				left: -1.5em;
			}

			&:after {
				content: '';
				width: 1em;
				height: 1px;
				background: $light-grey;
				position: absolute;
				top: 50%;
				// transform: translateY(-50%);
				right: -1.5em;
			}

			@media screen and (min-width: 900px){
				left: 0;

				&:before {
					content: '';
					width: 1px;
					height: 1em;
					background: $light-grey;
					position: absolute;
					top: -1em;
					left: 50%;
					transform: translate(-50%, -.15em);
				}


				&:after {
					content: '';
					width: 1px;
					height: 1em;
					background: $light-grey;
					position: absolute;
					// bottom: -1em;
					left: 50%;
					transform: translate(-50%, .75em);
				}

			}
		}

		.button-wrap {
			display: flex;
			align-items: stretch;
			text-align: center;
			flex: 1;

			@media screen and (max-width: 544px){
				flex-direction: column;
			}
		}

		button {
			// background: $white;
			// border-radius: 0;
			// box-shadow: none;
			// color: $darker-red;
			// margin: 0;
			// padding: 0 .5em;

			// @media screen and (max-width: 544px){
			// 	padding: .5em;
			// }
			border-radius: 0;
			box-shadow: none;
			margin: 0;
			padding: 3.5em 1em;
			flex: 1;
			background: $light-red;
			color: $white;
			border: none;

			@media screen and (min-width: 900px){
				padding: 1.5em 1em;
				padding: 2.5em 1em;
			}
		}
	}
}