.page-template-service-overview {

	.services {
		
		.service {
			padding-top: 0;
			padding-bottom: 0;

			@media screen and (min-width: 800px){
				padding-top: 6em;
				padding-bottom: 6em;
			}

			&.cable {
				padding-top: 25vh;
				padding-bottom: 25vh;
				color: $white;
				background-image: url('static/images/service-bg.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}

		.service-image {
			display: none;

			@media screen and (min-width: 480px){
				display: block;
			}
		}
	}

	&.business .service.cable {
		background-image: url('static/images/meeting.jpg');
	}

	.footer-call-to-action {
		padding-top: 4em;
		padding-bottom: 4em;
		margin-bottom: -2em;
	}
}