.page-template-tech-home {
	.tabs {
		margin: 2em 0;
		a {
			// margin: 0 1em;
		}
	}

	.tabs {
		text-align: center;
		border-bottom: 1px solid $light-grey;

		.tab-switch {
			display: inline-block;
			border-color: $white;
			position: relative;
			border-width: 4px;
			font-size: 4vw;
			// margin-bottom: 1em;

			@media screen and (min-width: 600px){
				font-size: 1.5em;
				display: inline-block;
				margin-bottom: 0;
				font-size: 150%;
			}

			& + .tab-switch {
				margin-left: 2em;
			}

			&.active-tab {
				border-color: $light-red;
			}

			&:hover {
				// margin-top: -4px;
				// border-width: 4px;
				border-color: $light-red;
			}
		}
	}

	.device-support {
		margin-top: 4em;
		overflow-x: scroll;

		table {
			border-spacing: 0;
			overflow-x: scroll;
			width: 100%;
		}

		th img {
			max-width: 2em;
			vertical-align: middle;
			margin-right: 1em;
		}

		th, td {
			min-width: 100px;
			width: 17.5%;
			padding: .5em;
			border: 1px solid $light-grey;

			&:last-child {
				width: 30%;
				min-width: 200px;
			}
		}
	}
}