.page-template-tv-now {
    #header .article-h1 {
        margin-bottom: 4em;
    }
}

.tv-now-hero-image-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tv-now-hero-tv {
    margin-top: -10em;
    margin-bottom: 4em;
    position: relative;
    z-index: 10;
}

.tv-now-info-sections {
    margin-bottom: 4em;

    .tv-now-info-section:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .tv-now-info-section {
        margin-bottom: 4em;

        &__content {
            margin-right: 2em;
        }

        &__image {
            margin-right: 2em;
        }
    }
}

.tv-now-streaming-devices {
    margin-bottom: 4em;

    h2 {
        font-size: 2em;
        font-weight: 300;
    }
    &__images {
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2em;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;

        @media screen and (min-width: 600px){
            flex-wrap: nowrap;
        }

        &-wrapper {
            margin-bottom: 2rem;
        }

        img {
            max-height: 10rem;
        }
    }
}

.tv-now-tiers {
    margin-bottom: 8em;

    .tier.featured::after {
        content: "Best Deal" !important;
    }
}

.tv-now-faq {
    margin-bottom: 4em;

    &__section {
        margin-bottom: 2em;
    }
}