.article-wrapper {
	max-width: 50em;
	margin: 0 auto;
	@extend .clearfix;
}

#header {

	.article-h1 {
		color: $white;
		font-size: 10vw;
		font-weight: 300;
		text-align: center;
		margin: 1em 0;

		&:empty {
			display: none;
		}

		@media screen and (min-width: 1080px){
			font-size: 4vw;
		}
	}

}

.emphasized-heading {
	padding-left: .5em;
	border-left: 4px solid $light-red;
}

.inline-element {
	display: inline-block;
}

blockquote {
	border-left: 4px solid $light-red;
	margin: 0;
	padding-left: 2em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: $black;
	border-bottom: 2px solid $light-red;
	text-decoration: none;
	transition: all 200ms linear;

	&:hover {
		border-bottom: 4px solid $light-red;
	}
}

.h2 {
	font-size: 1.5em;
}