.give-padding {
	padding-left: 1em;
	padding-right: 1em;
}

.centered-text {
	text-align: center;
}

.align-center {
	display: flex;
	align-items: center;
	
	@media screen and (max-width: 480px){
		display: block;	
	}
}

.block {
	display: block;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

img.alignright {
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

img.alignleft {
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}


.full-width {
	margin-left: -50vw;
	margin-right: -50vw;
	padding-left: 50vw;
	padding-right: 50vw;
	overflow: hidden;
}

.pr-gradient-overlay {
	position: relative;

	> * {
		// place above our gradient;
		position: relative;
		z-index: 1;
	}

	&:after {
		z-index: 0;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient( 145deg, rgba( $purple, .5 ), rgba( $light-red, .5 ) );
	}
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #eee;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.magnific {
	position: relative;
	background: #FFF;
	padding: 1rem;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;

	.mfp-close {
		margin: 0;
	}
}

.mfp-content {
	animation: slideInUp 350ms 1;
}
.mfp-close {
	border: none;
	border-radius: 0;
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

.mfp-bg.mfp-removing {
	opacity: 0;
	transition: all 300ms linear;
}

.mfp-wrap.mfp-removing .mfp-content {
	transform: scale(0);
	transition: all 200ms linear;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

div[type="text/template"]{
	display: none;
	visibility: hidden;
	pointer-events: none;

	.mfp-content & {
		display: block;
		visibility: visible;
		pointer-events: initial;
	}
}

.mb-8 {
	margin-bottom: 4rem; 
}