$light-red: #fe0000;
$darker-red: #e90202;
$red: #ea0a0b;
$black: #23232d;
$dark-grey: #333333;
$purple: #4e2973;

$white: #FFF;
$light-grey: #adadad;

$font-heading: 'Ubuntu', Arial, sans-serif;
$font-body: 'Noto Sans', Helvetica, Arial, sans-serif;