.channel-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;
	align-items: stretch;

	.channel {
		flex: 0 1 45%;
		margin-bottom: 1em;
		box-shadow: 0 4px 8px rgba( $black, .36 );
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: 600px){
			flex: 0 1 30%;
		}

		@media screen and (min-width: 800px){
			flex: 0 1 15%;
		}

		&:hover {
			box-shadow: 0 4px 8px rgba( $black, .72 );
		}

		img {
			display: block;
			margin: 0 auto;
		}

		a {
			display: block;
			border: none;
			padding: 1em;
		}
	}
}

.tv-everywhere-nav {
	background: $white;
	padding: 2em 2em 1em;
	border-radius: .5em;
	text-align: center;
	position: relative;
	z-index: 2;
	box-shadow: 0 1em 38px rgba( $black, .36 );
	margin-bottom: 4em;
	
	@media screen and (min-width: 800px){
		transform: translateY(-50%);
		margin-bottom: 0;
	}


	.nav-title {
		margin: 0;
		line-height: 1;
		font-weight: 400;
	}

	.links-wrapper {
		@media screen and (min-width: 680px){
			display: flex;
			justify-content: space-between;
		}
	}

	hr {
		margin: 1em 0 2em;
		background: rgba( $light-grey, .5);
		border: none;
		height: 2px;
	}

	a {
		display: block;
		border-bottom-width: 4px;
		border-color: $white;
		line-height: 1;
		margin-bottom: 1em;
		text-transform: uppercase;

		&:hover, &.active-tab {
			border-bottom-width: 4px;
			border-color: $light-red;
		}
	}
}

.platform-links {
	.fa {
		font-size: 1.5em;
	}
}