/**
 * Theme Name: Cunningham Theme
 * Author: 502 Media Group
 * Version: 1.0
 */
@import "reset";
* {
	box-sizing: border-box;
}

@import "variables";
@import "grid";
@import "forms";
@import "buttons";
@import "utilities";
@import "slick";

html, body {
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	// overflow-y: scroll;
	background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}

@import "typography";
@import "header";
@import "footer";

@import "tinymce";
@import "services-search-form";
@import "blog";
@import "comments";
@import "home";
@import "watch-tv-everywhere";
@import "about-us";
@import "service-overview";
@import "knowledgebase";
@import "city";
@import "info-hub";
@import "tech-home";
@import "tv-now";